*.bak
*.db
*.db:encryptable
*.DS_Store
*.ini
*.log
*.py
*.snap
*.dtmp
*_done.txt
*conflict*
.eslintrc.json
.git/
.gitignore
.stylelintrc.json
.vs/
.vscode/
.yarnclean
assets/icons/bak
dist/
flatpak/com.github.ransome1.sleek.yml
flatpak/generated-sources.json
node_modules/
package-lock.json
sleek.sublime-project
sleek.sublime-workspace
snap/local/
squashfs-root/
System Volume Information/
Thumbs.db
src/css/
*.provisionprofile
out/
filterlang.mjs
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.DS_Store

release/app/dist
release/build
.erb/dll

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts
long.txt