node_modules/
dist/
*.log
*.DS_Store
*.snap
*.bak
snap/local/
*.py
*.ini
.gitignore
.git/
*.db:encryptable
*.db
System Volume Information/
Thumbs.db
flatpak/generated-sources.json
flatpak/com.github.ransome1.sleek.yml
assets/icons/bak
squashfs-root/
.eslintrc.json
.stylelintrc.json
package-lock.json
.vs/
.vscode/
.yarnclean
