*.bak
*.db
*.db:encryptable
*.DS_Store
*.ini
*.log
*.py
*.snap
*_done.txt
*conflict*
.eslintrc.json
.git/
.gitignore
.stylelintrc.json
.vs/
.vscode/
.yarnclean
assets/icons/bak
dist/
flatpak/com.github.ransome1.sleek.yml
flatpak/generated-sources.json
node_modules/
package-lock.json
sleek.sublime-project
sleek.sublime-workspace
snap/local/
squashfs-root/
System Volume Information/
Thumbs.db
src/css/
*.drawio*
*.provisionprofile
out/