@import "../Variables.scss";

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35em;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  border-radius: $radius;
  padding: 1em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  .MuiLink-root {
    cursor: pointer;
  }
  .MuiInputBase-root {
    width: 100%;
  }
  .MuiFormControl-root {
    margin: 1em 0 0 0;
    
  }
}
