@import "../Variables.scss";

#fileTabs {
	height: 2.5em;
	min-height: 2.5em;
	.MuiTabs-scroller {
		button[role=tab] {
			min-width: 8.5em;
			min-height: auto;
			padding: 0.85em 2em;
			text-transform: lowercase;
			display: flex;
			flex-direction: row;
			font-size: 0.85em;
			svg {
				margin: 0 0 0 0.5em;
				padding: 0.1em;
				order: 2;
			}
			svg:hover {
				filter: none;
			}
		}
		.MuiTabs-indicator {
			top: 0;
		}
	}

}