@use '../Variables.scss';

#fileTabs {
  overflow: visible;
  .MuiTabs-scroller {
    button[role='tab'] {
      min-height: auto;
      padding: 0.5em 0.5em 0.5em 1em;
      text-transform: lowercase;
      display: flex;
      flex-direction: row;
      font-size: 0.8em;
      svg {
        margin: 0;
        padding: 0.1em;
        order: 2;
      }
      svg:hover {
        filter: none;
      }
    }
    .MuiTabs-indicator {
      top: 0;
      height: 0.2em;
    }
  }
}