@import "../Variables.scss";

#ToolBar {
	width: 3em;
	height: 3em;
	position: fixed;
	top: 0;
	right: 1em;
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
		display: flex;
		cursor: pointer;
		font-size: 1.85em;
		color: $dark-grey;
		&.active {
			color: $blue;
		}
	}
	& svg:hover {
		color: $blue;
	}
}

.darkTheme {
	#ToolBar {
		svg {
			color: $mid-grey;
			&.active {
				color: $blue;
			}			
		}
		& svg:hover {
			color: $blue;
		}
	}
}