#ToolBar {
  width: 2.5em;
  aspect-ratio: 1;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  background: white;
  svg {
    display: flex;
    cursor: pointer;
    font-size: 1.85em;
    color: var(--color-outline);
    &.active {
      color: var(--semantic-primary);
    }
  }
  &svg:hover {
    color: var(--semantic-primary);
  }
}

.dark {
  #ToolBar {
    background: var(--color-outline)-background;
    svg {
      color: var(--color-outlineVariant);
      &.active {
        color: var(--semantic-primary);
      }
    }
    & svg:hover {
      color: var(--semantic-primary);
    }
  }
}
