@import "../Variables.scss";

#search {
	display: flex;
	position: relative;
	margin-bottom: 0.25em;
	.MuiAutocomplete-root {
		flex-direction: row;
		flex: 1;
		margin: 0 1em 0.25em 1em;
	}
}

.MuiAutocomplete-popper {
	.MuiPaper-root {
		margin-top: 0.125em;
		box-shadow: none;
		.MuiAutocomplete-listbox {
			svg {
				color: $blue;
				margin-right: 0.5em;
				&.greyedOut {
					color: $dark-grey;
				}
			}
		}
	}
}