[Desktop Entry]
Version=1.0
Name=sleek
Exec=sleek
Type=Application
Icon=com.github.ransome1.sleek
Categories=Office
Terminal=false
Comment=Todo app based on the todo.txt format for Linux, free and open-source
