@use '../Variables.scss';

#Attributes {
  padding: 0 1em 0.75em 1em;
  overflow-y: scroll;
  .placeholder {
    padding: 2em 0;
    opacity: 0.5;
    text-align: center;
  }
  .MuiAccordion-root {
    margin: 0;
    .MuiAccordion-heading {
      button {
        padding: 0;
      }
    }
    .MuiAccordionDetails-root {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 0.3em;
    }
    .MuiAccordionSummary-root {
      height: 2.5em;
      min-height: 2.5em;
      margin: 0;
      font-size: 1.25em;
      font-weight: bold;
      .MuiBadge-badge {
        background: #ff3860;
      }
    }
    &:before {
      display: none;
    }
  }
  &::-webkit-scrollbar-thumb:window-inactive,
  &::-webkit-scrollbar-thumb {
    background: Variables.$mid-grey;
    border-radius: 0.3em;
  }
}

.darkTheme {
  #Attributes {
    &::-webkit-scrollbar-thumb:window-inactive,
    &::-webkit-scrollbar-thumb {
      background: Variables.$dark-grey;
    }
  }
}
