@import "../../Variables.scss";

.MuiAutocomplete-popper {
	.MuiPaper-root {
		margin-top: 0.125em;
		box-shadow: none;
		.MuiAutocomplete-listbox {
			svg {
				color: $blue;
				margin-right: 0.5em;
				&.greyedOut {
					color: $dark-grey;
				}
			}
		}
	}
}