html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;

  padding-left: 5em;
  margin: auto;
  background: #fff;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

body.is-active {
  padding-left: 35em;
}

body, button, input, optgroup, select, textarea {
  font-family: "FreeSans", Helvetica, Arial, "DejaVu Sans",  sans-serif;
  border: none;
}

button:focus, button:active, button:active, button:after, button::before, button:active:after {
  border: none;
}

:focus {
  outline: none;
  box-shadow: 0 0 .25em rgba(0,0,0,0.25);
}

/* ONBOARDING */

#onboardingContainer {
  width: 100%;
  height: 100%;
  text-align: center;

  display: none;
  flex-direction: column;
  justify-content:center;
}

#onboardingContainer.is-active {
  display: flex;
}

#onboardingContainer p {
    margin: .5em;
}

#onboardingContainer .fa-file-alt {
  font-size: 6em;
}

#onboardingContainer .title.is-1 {
  margin: .25em 0 .25em 0;
  color: #4a4a4a;
}

#onboardingContainer .btnOnboarding {
  font-size: 1em;
  margin: 0 1em;
  padding: .25em;
}

#onboardingContainer .btnOnboarding svg {
  font-size: 5em;
  margin: .25em 0;
}

#onboardingContainer .btnOnboarding:hover {
  color: #4a4a4a;
}

/* Vertical menu */
nav ul {
  height: 100%;

	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
  z-index: 110;

	list-style-type: none;

	margin: 0;
	padding: 0;

  background: #f5f5f5;
}

nav ul li a {
  width: 5em;
  height: 5em;
  position: relative;
  display: block;

	cursor: pointer;

	line-height: 5em;
	text-align: center;
	color: #404040;

	border-bottom: 1px solid rgba(0,0,0,0.05);
}

nav ul li:hover,
nav ul li:focus,
nav ul li.is-highlighted {
  background: #ebebeb;
}

nav ul li#btnAddItem,
nav ul li#btnFilter {
  display: none;
}

nav ul li#btnAddItem.is-active,
nav ul li#btnFilter.is-active {
  display: block;
}

nav ul li.logo {
  background: #404040;
  color: #fff;

  font-size: 1em;
  font-weight: bold;
  line-height: 5em;
  text-align: center;

  cursor: default;
}

/* FILTER DROPDOWN */

#filterDropdown {
  width: 30em;
  height: 100%;

  position: fixed;
  top: 0;
  left: -100em;
  z-index: 90;
  /*transition: left .3s;*/

  padding: 0 1.5em;

  background: #ebebeb;

  -webkit-box-shadow: inset -10px 0px 55px -60px rgba(0,0,0,0.65);
  -moz-box-shadow: inset -10px 0px 55px -60px rgba(0,0,0,0.65);
  box-shadow: inset -10px 0px 55px -60px rgba(0,0,0,0.65);
}

#filterDropdown.is-active {
  position: fixed;
  left: 5em;
}

#filterDropdown .container {
  position: static;
  z-index: 0;
  background: #ebebeb;
}

#filterDropdown .dropdown-item {
  width: 100%;
  float: left;
  padding: 0;
  margin: 1.5em 0;
}

#filterDropdown .dropdown-item h4 {
  font-size: 1.5em;
  font-weight: bold;
  color: #4d4d4d;
  /*text-transform: uppercase;*/

  margin-bottom: 1.5em;
}

#filterDropdown #btnResetAllFilters {
  display: none;
}

#filterDropdown #btnResetAllFilters.is-active {
  display: block;
}

/* FILTERS */
#todoFilters {
  width: 100%;
  float: left;
  margin: 0;
}

#todoFilters button {
  /*text-transform: uppercase;*/
  margin: 0 .5rem .5rem 0;
}

#todoFilters div.contexts button  {
  background: #c5ede3;
  color: #075943;
  border: none;
}

#todoFilters div.contexts button:hover {
  background: #c9f2e8;
}

#todoFilters div.contexts button span.tag {
  background: #1aa37e;
  color: #fff;

  font-weight: bold;

  position: absolute;
  right: -.75em;
  top: -.75em;
  z-index: 100;
}

#todoFilters div.contexts button.is-dark  {
  background: #075943;
  color: #fff;
}

#todoFilters div.projects button {
  background: #f1d6f1;
  color: #5f1a5e;
  border: none;
}

#todoFilters div.projects button:hover {
  background: #f7dcf7;
}

#todoFilters div.projects button span.tag {
  background: #bc30ba;
  color: #fff;

  font-weight: bold;

  position: absolute;
  right: -.75em;
  top: -.75em;
  z-index: 100;
}

#todoFilters div.projects button.is-dark {
  background: #5f1a5e;
  color: #fff;
}

#todoFilters div.column {
  padding-left: 0;
}

/* TABLE */

#todoTable .hero-body {
  padding: 1.5em;
}

#todoTable {
  width: 100%;
  display: none;
}

#todoTable.is-active {
  display: block;
}

#todoTable #selectionInformation {
  display: none;
  font-size: .8em;
  text-align: center;
}

#todoTable #selectionInformation.is-active {
  display: block;
}

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-bottom: solid 1px #d9d9d9;
  /*transition: 0.5s;*/
}

.flex-table.priority {
  border: none;
  font-weight: bold;
  font-size: 1.5em;
}

.flex-table.completed,
.flex-table.completed strong {
  color: hsl(0, 0%, 71%);
}

.flex-table .flex-row {
  padding: .75rem 0 .5em 0;
  margin-right: 1em;
  height: auto;

  line-height: 1.5em;
}

.flex-table .flex-row.text {
  margin-right: auto;
}

.flex-table .flex-row[role="cell"].spacer {
  width: .5em;
  background: transparent;
}

.flex-table .flex-row[role="cell"].priority {
  width: .5em;
  background: hsl(0, 0%, 86%);
  opacity: .5;
}

.flex-table .flex-row[role="cell"].priority.A {
  background: hsl(348, 100%, 61%);
}

.flex-table .flex-row[role="cell"].priority.B {
  background: hsl(48, 100%, 67%);
}

.flex-table .flex-row[role="cell"].priority.C {
  background: hsl(141, 53%, 53%);
}

.flex-table .flex-row.text[role="cell"] {
  max-width: 80%;
  cursor: pointer;
}

.flex-table .flex-row.checkbox a {
  color: #3273dc;
  font-size: 1.2em;
}

.flex-table .flex-row.checkbox a:hover {
  color: hsl(0, 0%, 71%);
}

.flex-table.completed .flex-row.checkbox a {
  color: hsl(0, 0%, 71%);
}

.flex-table .flex-row[role="cell"] span.tag {
  margin-left: .5em;
}

.flex-table .flex-row.projects[role="cell"],
.flex-table .flex-row.contexts[role="cell"] {
  margin-right: 0;
}

.flex-table .flex-row[role="cell"] span.tag.projects {
  background: #f1d6f1;
  color: #5f1a5e;
}

.flex-table .flex-row[role="cell"] span.tag.contexts {
  background: #c5ede3;
  color: #075943;
}

.flex-table.completed .flex-row[role="cell"] span.tag.projects {
  background: hsl(0, 0%, 71%);
  color: #fff;
}

.flex-table.completed .flex-row[role="cell"] span.tag.contexts {
  background: hsl(0, 0%, 86%);
  color: #fff;
}

.flex-table .flex-row.text[role="cell"] span.itemDueDate {
  color: hsl(0, 0%, 71%);
  white-space: nowrap;
}

.flex-table .flex-row a {
  /*color: hsl(0, 0%, 71%);*/
  color: #3273dc;
}

.flex-table .flex-row a:hover {
    color: #3273dc;
}

.flex-table .flex-row.todoTableItemMore a {
  display: none;
  padding: 0 .5em;
  /*margin-right: auto;*/
}

.flex-table:hover .flex-row.todoTableItemMore a,
.flex-table .flex-row.todoTableItemMore.is-active a,
.flex-table .flex-row.todoTableItemMore.is-active .dropdown-menu {
  display: block;
}

.flex-table .flex-row.todoTableItemMore.is-active .dropdown-menu .dropdown-item {
  padding: .75em;
}

/*flex-row .dropdown.is-active {
  display: none;
}

flex-row:hover .dropdown.is-active {
  display: block;
}*/

/* https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.toggle {
  float: left;
  padding: 1.5em 1.5em 1.5em 0;
  margin: 0;
  line-height: 2em;
}

.switch {
 position: relative;
 display: inline-block;
 width: 56px;
 height: 31px;
 float: left;
 margin-right: .7em;
}

.switch .itemText {
  float: left;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 1;
 width: 56px;
 height: 31px;
 background: none;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 25px;
 width: 25px;
 left: 3px;
 bottom: 3px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #404040;
}

input:focus + .slider {
 box-shadow: 0 0 1px #404040;
}

input:checked + .slider:before {
 -webkit-transform: translateX(25px);
 -ms-transform: translateX(25px);
 transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 30px;
}

.slider.round:before {
 border-radius: 50%;
}

/* MODAL */

.is-active {
  z-index: 110;
}

.modal-background {
  background: rgba(0,0,0,.25);
}

#modalForm .message {
  display: none;
  margin: 1em 0;
}

#modalForm .is-active {
  display: block;
}

#modalForm .field {
  margin: .75em 0;
}

#modalForm #btnItemStatus {
  display: none;
  text-align: center;
}

#modalForm #btnItemStatus.is-active {
  display: block;
}

#modalForm button {
  font-size: 1em;
  background: none;
  color: #3273dc;
  border: none;
  border-right: 1px solid #ededed;
}

#modalForm button:hover {
  color: #000;
}

/* DATEPICKER */

.datepicker {
  z-index: 120;
}

.datepicker-footer {
  background: #fff;
}

.datepicker-footer .datepicker-controls .button  {
  font-size: 1em;
  background: #fff;
  border-color: transparent;
  color: #3273dc;
}

.dueDate svg {
  color: #3273dc;
}

#dueDatePickerInput,
#dueDatePickerInput::placeholder {
  font-size: 1em;
  color: #3273dc;
  box-shadow: none;
  cursor: pointer;
}

/* LOADING INDICATOR */

#loadingIndicator {
  text-align: center;
  z-index: 120;
}

#loadingIndicator .modal-background {
  background: #fff;
  opacity: .25;
}

#loadingIndicator p {
  margin: .5em 0;
}

#loadingIndicator svg,
#loadingIndicator .fa-spinner {
  width: 2em;
  height: 2em;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {

  body.is-active {
    padding-left: 35em;
  }

  body.is-active #todoTable {
    position: fixed;
    height: 100%;
    overflow-y: scroll;
  }

  #filterDropdown.is-active {
    left: 5em;
  }

}

@media (max-width: 992px) {

  body {
    height: 100%;
    display: flex;

    padding-left: 3.5em;
  }

  body.is-active {
    padding-left: 34.5em;
  }

  nav ul li a {
    width: 3.5em;
    height: 3.5em;
  	line-height: 3.5em;
  }

  nav ul li.logo {
    width: 100%;
    height: 3.5em;
    line-height: 3.5em;
  }

  nav ul li.logo span {
    padding-top: 1.2em;
  }

  #filterDropdown {
    width: 30em!important;
    padding: 0 1.5em!important;
  }

  #filterDropdown.is-active {
    left: 3.5em;
  }

  .toggle {
    margin: 0!important;
    padding-left: 0!important;
  }

}

@media (max-width: 768px) {

  body.is-active {
    padding-left: 82.5%;
  }

  #filterDropdown {
    width: 74%!important;
    padding: 0 3%!important;
  }

}
