@use '../Variables.scss';

#grid {
  padding: 0 1em 1em 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  .MuiDivider-root:first-child {
    display: none;
  }
  &::-webkit-scrollbar-thumb:window-inactive,
  &::-webkit-scrollbar-thumb {
    background: Variables.$light-grey;
    border-radius: 0.3em;
  }
}

.compact {
  #grid {
    padding: 0 0.75em 0.75em 0.75em;
    .row {
      padding: 0.3em;
      .MuiCheckbox-root {
        padding: 0;
        margin: 0 0.1em;
      }
      [data-todotxt-attribute='due'],
      [data-todotxt-attribute='t'],
      [data-todotxt-attribute='rec'] {
        button {
          padding: 0 0.5em 0 0;
        }
        div {
          padding: 0.2em 0;
        }
      }
      .filter:not([data-todotxt-attribute='priority']):not([data-todotxt-attribute='t']):not([data-todotxt-attribute='due']):not([data-todotxt-attribute='rec']) {
        button {
          padding: 0.2em 0.4em;
        }
      }
    }
  }  
}

.dark {
  #grid {
    &::-webkit-scrollbar-thumb:window-inactive,
    &::-webkit-scrollbar-thumb {
      background: Variables.$dark-grey;
      border-radius: 0.3em;
    }
  }
}
