@use '../Variables.scss';

#grid {
  min-width: 20em;
  padding: 0 1em 1em 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  .MuiDivider-root:first-child {
    display: none;
  }
  &::-webkit-scrollbar-thumb:window-inactive,
  &::-webkit-scrollbar-thumb {
    background: Variables.$light-grey;
    border-radius: 0.3em;
  }
}

.compact {
  #grid {
    padding: 0 0.75em 0.75em 0.75em;
  }
}

.dark {
  #grid {
    &::-webkit-scrollbar-thumb:window-inactive,
    &::-webkit-scrollbar-thumb {
      background: Variables.$dark-grey;
      border-radius: 0.3em;
    }
  }
}
