@use 'sass:color';
@use '../Variables.scss';

.row {
  cursor: pointer;
  border-left: solid 0.2em Variables.$light-grey;
  border-bottom: solid 1px Variables.$light-grey;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  padding: 0.75em 0.4em;
  .MuiCheckbox-root {
    padding: 0;
    margin: 0 0.25em;
  }
  &[data-complete='true'],
  &[data-hidden='true'] {
    filter: opacity(50%) grayscale(100%);
  }
  &:last-child {
    border-bottom-left-radius: 0.25em;
  }
  &.group {
    margin-top: 1em;
    padding-left: 0;
    border: none;
    cursor: auto;
  }
}

.darkTheme {
  .row {
    border-color: Variables.$dark-grey;
  }
}
