.compact {
  .datePicker {
    .MuiPickersInputBase-root {
      .MuiPickersSectionList-root {
        padding: 0.75em;
      }
    }
  }
}

.datePicker {
  width: 13em;
  .MuiPickersInputBase-root {
    padding: 0 0.25em 0 0;
    background: var(--color-surface);
    font-size: 0.9em;
    .MuiPickersSectionList-root {
      padding: 1em;
      font-size: 1.1em;
    }
    fieldset {
      border: none;
      &.MuiPickersOutlinedInput-notchedOutline {
        border: none;
      }
    }
  }
  .Mui-focusVisible {
    color: var(--semantic-primary);
  }
}

.MuiPopper-root {
  z-index: 2000 !important;
}

.MuiPickersLayout-root {
  max-height: 20em;
  .MuiYearCalendar-root {
    width: inherit;
    width: auto;
    .MuiPickersYear-yearButton {
      width: auto;
      height: auto;
      margin: 0;
      line-height: 1;
    }
  }
  .MuiDateCalendar-root {
    width: 20em;
    height: auto;
    max-height: auto;
    padding: 0.5em 1em;
    .MuiPickersCalendarHeader-root {
      max-height: auto;
      min-height: auto;
      padding: 0;
      margin: 0;
      font-size: 1.1em;
    }
    .MuiDayCalendar-header {
      font-size: 1.1em;
      span {
        width: 3em;
        height: 3em;
      }
    }
    .MuiPickersDay-root {
      width: 3em;
      height: 3em;
    }
  }
  button {
    border-radius: var(--radius);
    font-size: 1em;
    &.MuiPickersDay-today {
      border: inherit;
      background: var(--color-outlineVariant);
    }
    &.Mui-selected {
      color: white;
      background: var(--semantic-primary);
    }
  }
}
.dark {
  .datePicker {
    .MuiPickersInputBase-root {
      background: var(--color-surfaceVariant);
    }
  }
  .MuiPickersLayout-root {
    button.MuiPickersDay-today {
      color: var(--color-surfaceVariant);
    }
  }
}
