@use '../Variables.scss';

#DialogComponent {
  .MuiDialog-paper {
    max-width: 60em;
    .MuiDialogContent-root {
      gap: 0.5em;
    }
  }
}

.MuiDialog-root {
  .MuiDialog-paper {
    .MuiDialogTitle-root {
      font-size: 1.2em;
      font-weight: bold;
      padding-bottom: 0;
    }
    .MuiDialogContent-root {
      display: flex;
      flex-wrap: wrap;
      padding: 1.5em;
      .react-autosuggest__container {
        width: 100%;
        .MuiTextField-root {
          width: 100%;
        }
      }      
    }
    .MuiDialogActions-root {
      padding: 0;
      button {
        padding: 0.8em;
      }
    }
  }
}

.darkTheme .MuiDialog-root .MuiDialog-paper .MuiDialogActions-root button {
  border-top: 1px solid Variables.$darker-grey;
  border-right: 1px solid Variables.$darker-grey;
}