#recurrencePicker {
  .MuiPaper-root {
    padding: 1em;
    .MuiFormControl-root {
      margin-right: 1em;
      vertical-align: middle;
      .MuiInputBase-input {
          padding: 1em;
        }
      .recurrencePickerPopupInput {
        input {
          width: 3em;
          padding: 0;
        }
      }
      .MuiFormControlLabel-root {
        height: 1.5em;
      }
    }
  }
}

.recurrencePicker {
  width: 7em;
}