body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  /*max-width: 75%;
  padding: 2rem;*/
  background: #fff;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

/* FILE UPLOAD */

.file.has-name .file-name {
  width: 10em;
  float: right;

  background: #fff;

  direction: rtl;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.fa-cog {
  font-size: 1.75em;
  text-align: right;
}*/

/* FILTERS */
#todoFilters {
  margin: 1rem 0;
}

#todoFilters button {
  text-transform: uppercase;
  margin: 0 .5rem .5rem 0;
}

#todoFilters div.contexts button  {
  background: #c5ede3;
  color: #075943;
}

#todoFilters div.contexts button span.tag {
  background: #1aa37e;
  color: #fff;

  font-weight: bold;

  position: absolute;
  right: -.75em;
  top: -.75em;
  z-index: 100;
}

#todoFilters div.contexts button.is-dark  {
  background: #075943;
  color: #fff;
}

#todoFilters div.projects button {
  background: #f1d6f1;
  color: #5f1a5e;

  position: relative;
}

#todoFilters div.projects button span.tag {
  background: #bc30ba;
  color: #fff;

  font-weight: bold;

  position: absolute;
  right: -.75em;
  top: -.75em;
  z-index: 100;
}

#todoFilters div.projects button.is-dark {
  background: #5f1a5e;
  color: #fff;
}

#todoFilters div.column {
    padding-left: 0;
}

/* SORTING */

#btnSorting {
  float: right;
  clear: both;

  padding: 0 0 0.5em 3em;
}

/* TABLE */

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-bottom: solid 1px #d9d9d9;
  transition: 0.5s;
  padding: .25rem;
}

.flex-table .flex-row[role="cell"] {
  margin: .25rem .5em .25em 0;
  height: auto;

  line-height: 1.5em;
}

.flex-table .flex-row.checkbox[role="cell"] .fa-square {
  font-size: 1.5em;
  color: #666666;
}

.flex-table .flex-row.text[role="cell"] {
  max-width: 55%;
}

.flex-table .flex-row[role="cell"] span.tag {
  margin: 0 .5em .5em 0;
}

.flex-table .flex-row.projects[role="cell"],
.flex-table .flex-row.contexts[role="cell"] {
  margin-right: 0;
}

.flex-table .flex-row.projects[role="cell"] span.tag {
  background: #f1d6f1;
  color: #5f1a5e;
}

.flex-table .flex-row.contexts[role="cell"] span.tag {
  background: #c5ede3;
  color: #075943;
}

 /*.flex-table:first-of-type {
	 border-top: solid 1px #1565c0;
	 border-left: solid 1px #1565c0;
}*/
 /*.flex-table:first-of-type .flex-row {
	 background: #1976d2;
	 color: white;
	 border-color: #1565c0;
}*/
