body {
  font-family: -apple-system, BlinkMacSystemFont, FreeSans, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  /*max-width: 75%;
  padding: 2rem;*/
  background: #fff;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

/* FILE UPLOAD */

.file.has-name .file-name {
  width: auto;
  float: right;

  background: #fff;

  direction: rtl;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.fa-cog {
  font-size: 1.75em;
  text-align: right;
}*/

/* INTERACTION BAR */
#interactionBar {
  background: #f5f5f5;
}

#interactionBar .hero-body {
  padding: 0;
}

#interactionBar .hero-body .item {
  height: 5em;
  float: left;

  padding: 0 1.5em;
  /*border-left: 1px solid #fff;
  border-right: 1px solid #fff;*/

  text-align: center;
  line-height: 5em;

  cursor: pointer;
}

#interactionBar .hero-body .item:hover,
#interactionBar .hero-body .item.is-active {
  background: #4d4d4d;
  color: #fff;
}

#interactionBar .hero-body .item svg {
  font-size: 1.5em;
  color: #4d4d4d;
}

#interactionBar .hero-body .item:hover svg,
#interactionBar .hero-body .item.is-active svg {
  font-size: 1.5em;
  color: inherit;
}

#interactionBar .hero-body .dropdown {
  width: 100%;
  float: left;
  position: static;
  display: none;

  background: #4d4d4d;
}

#interactionBar .hero-body .dropdown.is-active {
  display: block;
}

#interactionBar .hero-body .dropdown .dropdown-item {
  width: 50%;
  float: left;
}

#interactionBar .field {
  float: right;
  padding-top: 1.25em;
}

/* FILTERS */
#todoFilters {
  float: left;
  margin: 2.5em 0;
}

#todoFilters button {
  text-transform: uppercase;
  margin: 0 .5rem .5rem 0;
}

#todoFilters div h4 {
  color: #fff;
}

#todoFilters div.contexts button  {
  background: #c5ede3;
  color: #075943;
}

#todoFilters div.contexts button span.tag {
  background: #1aa37e;
  color: #fff;

  font-weight: bold;

  position: absolute;
  right: -.75em;
  top: -.75em;
  z-index: 100;
}

#todoFilters div.contexts button.is-dark  {
  background: #075943;
  color: #fff;
}

#todoFilters div.projects button {
  background: #f1d6f1;
  color: #5f1a5e;

  position: relative;
}

#todoFilters div.projects button span.tag {
  background: #bc30ba;
  color: #fff;

  font-weight: bold;

  position: absolute;
  right: -.75em;
  top: -.75em;
  z-index: 100;
}

#todoFilters div.projects button.is-dark {
  background: #5f1a5e;
  color: #fff;
}

#todoFilters div.column {
    padding-left: 0;
}

.dropdown-menu {
  width: 50em;
}

/* FILTER */

#btnFilter #dropdown-menu2 {
  /*width: 100%;*/
}

/* SORT */

#btnSorting {
  /*float: right;
  clear: both;

  padding: 0 0 0.5em 3em;*/
}

/* TABLE */

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-bottom: solid 1px #d9d9d9;
  transition: 0.5s;
  padding: .25rem;
}

.flex-table .flex-row[role="cell"] {
  margin: .25rem .5em .25em 0;
  height: auto;

  line-height: 1.5em;
}

.flex-table .flex-row.checkbox[role="cell"] .fa-square {
  font-size: 1.5em;
  color: #666666;
}

.flex-table .flex-row.text[role="cell"] {
  max-width: 55%;
}

.flex-table .flex-row[role="cell"] span.tag {
  margin: 0 .5em .5em 0;
}

.flex-table .flex-row.projects[role="cell"],
.flex-table .flex-row.contexts[role="cell"] {
  margin-right: 0;
}

.flex-table .flex-row.projects[role="cell"] span.tag {
  background: #f1d6f1;
  color: #5f1a5e;
}

.flex-table .flex-row.contexts[role="cell"] span.tag {
  background: #c5ede3;
  color: #075943;
}

 /*.flex-table:first-of-type {
	 border-top: solid 1px #1565c0;
	 border-left: solid 1px #1565c0;
}*/
 /*.flex-table:first-of-type .flex-row {
	 background: #1976d2;
	 color: white;
	 border-color: #1565c0;
}*/
