body {
  padding-left: 5em;
  margin: auto;
  background: #fff;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

body.is-active {
  padding-left: 40em;
  transition: padding-left .5s;
}

body, button, input, optgroup, select, textarea {
  font-family: "FreeSans", Helvetica, Arial, "DejaVu Sans",  sans-serif;
}

/* FILE UPLOAD */

/*.file.has-name .file-name {
  width: auto;
  float: right;

  background: #fff;

  direction: rtl;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

/* MODAL */

.modal {
  z-index: 110;
}

.modal .modal-background {
  background: rgba(0,0,0,.25);
}

#onboarding {
  z-index: 110;
}

#onboarding .modal-background {
  background: rgba(255,255,255,1);
}

#onboarding .modal-content {
  /*width: 50em;*/
  /*max-width: 60%;*/
  padding: 2em;
  text-align: center;
}

#onboarding .modal-content h1 {
  margin: .5em 0;

  font-weight: 1000;
  line-height: .85em;
}

#onboarding .modal-content .subtitle {
  margin: .25em 0 3em 0;
}

#onboarding .modal-content .column {
  padding: 0 3em;
}

#onboarding .modal-content .column div {
  background: #363636;
  color: #fff;

  border-radius: 4px;

  padding: 1em 1em .5em 1em;

  font-size: 1.15em;

  cursor: pointer;
}

#onboarding .modal-content .column div svg {
  font-size: 1.15em;
}

#onboarding .modal-content .column p {
  margin-bottom: 0.5em;
}

.column:first-child {
  border-right: 1px solid #363636;
}

.hero {
  width: 100%;
  float: left;
}

.hero .hero-body {
  padding: 1.5em;
}

/* Vertical menu */
nav ul {
  height: 100%;

	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
  z-index: 110;

	list-style-type: none;

	margin: 0;
	padding: 0;

  background: #f5f5f5;
}

nav ul li {
  width: 5em;
  height: 5em;
  position: relative;
  display: block;
	/*text-indent: -500em;*/

	line-height: 5em;
	text-align: center;
	color: #404040;

	border-bottom: 1px solid rgba(0,0,0,0.05);

	/*-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;*/
}

nav ul li:hover,
nav ul li a.is-active {
  background: #ebebeb
}

nav ul li a {
  width: 5em;
  height: 5em;

  display: block;

  cursor: pointer;
  color: #404040;
}

nav ul li.logo {
  background: #404040;
  color: #fff;

  font-weight: 1000;
  line-height: 1em;
}

nav ul li.logo span {
  display: block;
  padding-top: 1.5em;
}

/*
#interactionBar {
  width: 100%;
  height: 5em;

  position: fixed;
  top: 0;
  z-index: 100;

  background: #f5f5f5;
}

#interactionBar .hero-body {
  padding: 0;
  z-index: 110;
  background: #f5f5f5;
}

#interactionBar .hero-body .item {
  height: 5em;
  float: left;

  padding: 0 1.5em;
  margin-left: -1.25em;

  text-align: center;
  line-height: 5em;

  cursor: pointer;
}

#interactionBar .hero-body .item:hover,
#interactionBar .hero-body .item.is-active {
  background: #ebebeb;
}

#interactionBar .hero-body .item svg {
  font-size: 1.25em;
  color: #4d4d4d;
}

#interactionBar .field {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1.25em;
}*/

/* FILTER DROPDOWN */

#filterDropdown {
  width: 35em;
  height: 100%;

  position: fixed;
  top: 0;
  left: -50em;
  z-index: 90;
  transition: left .5s;

  padding: 0 3em;

  background: #ebebeb;

  -webkit-box-shadow: inset -10px 0px 55px -60px rgba(0,0,0,0.65);
  -moz-box-shadow: inset -10px 0px 55px -60px rgba(0,0,0,0.65);
  box-shadow: inset -10px 0px 55px -60px rgba(0,0,0,0.65);
}

#filterDropdown.is-active {
  position: fixed;
  left: 5em;
}

#filterDropdown .container {
  position: static;
  z-index: 0;
  background: #ebebeb;
}

#filterDropdown .dropdown-item {
  float: left;
  padding: 0;
  margin: 1.5em 0;
}

#filterDropdown .dropdown-item h4 {
  font-size: 1.15em;
  font-weight: 1000;
  color: #4d4d4d;
  text-transform: uppercase;

  margin-bottom: 1.5em;
}

/* FILTERS */
#todoFilters {
  width: 100%;
  float: left;
  margin: 0;
}

#todoFilters button {
  /*text-transform: uppercase;*/
  margin: 0 .5rem .5rem 0;
}

/*#todoFilters div h4 {
  color: #fff;
}*/

#todoFilters div.contexts button  {
  background: #c5ede3;
  color: #075943;
  border: none;
}

#todoFilters div.contexts button:hover {
  background: #c9f2e8;
}

#todoFilters div.contexts button span.tag {
  background: #1aa37e;
  color: #fff;

  font-weight: bold;

  position: absolute;
  right: -.75em;
  top: -.75em;
  z-index: 100;
}

#todoFilters div.contexts button.is-dark  {
  background: #075943;
  color: #fff;
}

#todoFilters div.projects button {
  background: #f1d6f1;
  color: #5f1a5e;
  border: none;
}

#todoFilters div.projects button:hover {
  background: #f7dcf7;
}

#todoFilters div.projects button span.tag {
  background: #bc30ba;
  color: #fff;

  font-weight: bold;

  position: absolute;
  right: -.75em;
  top: -.75em;
  z-index: 100;
}

#todoFilters div.projects button.is-dark {
  background: #5f1a5e;
  color: #fff;
}

#todoFilters div.column {
    padding-left: 0;
}

/*.dropdown-menu {
  width: 50em;
}*/

/* TABLE */

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-bottom: solid 1px #d9d9d9;
  transition: 0.5s;

}

.flex-table.priority {
  border: none;
  font-weight: bold;
  font-size: 1.5em;
}

.flex-table.completed {
  color: grey;
}

.flex-table .flex-row[role="cell"] {
  padding: .5rem 0;
  margin-right: 1em;
  height: auto;

  line-height: 1.5em;
}

.flex-table .flex-row[role="cell"].priority {
  width: .5em;
  background: #ebebeb;
  opacity: .5;
}

.flex-table .flex-row[role="cell"].priority.A {
  background: #e15f91;
}

.flex-table .flex-row[role="cell"].priority.B {
  background: #db808f;
}

.flex-table .flex-row[role="cell"].priority.C {
  background: #d5a28c;
}

/*.flex-table .flex-row.checkbox[role="cell"] .fa-square {
  font-size: 1.5em;
  color: #666666;
}*/

.flex-table .flex-row.text[role="cell"] {
  max-width: 80%;
}

.flex-table .flex-row[role="cell"] span.tag {
  margin-left: .5em;
}

.flex-table .flex-row.projects[role="cell"],
.flex-table .flex-row.contexts[role="cell"] {
  margin-right: 0;
}

.flex-table .flex-row[role="cell"] span.tag.projects {
  background: #f1d6f1;
  color: #5f1a5e;
}

.flex-table .flex-row[role="cell"] span.tag.contexts {
  background: #c5ede3;
  color: #075943;
}

 /*.flex-table:first-of-type {
	 border-top: solid 1px #1565c0;
	 border-left: solid 1px #1565c0;
}*/
 /*.flex-table:first-of-type .flex-row {
	 background: #1976d2;
	 color: white;
	 border-color: #1565c0;
}*/

/* https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.toggle {
  float: left;
  padding: 1.5em 1.5em 1.5em 0;
  margin: 0;
  line-height: 2em;
}

.switch {
 position: relative;
 display: inline-block;
 width: 56px;
 height: 31px;
 float: left;
 margin-right: .7em;
}

.switch .itemText {
  float: left;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 25px;
 width: 25px;
 left: 4px;
 bottom: 3px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #404040;
}

input:focus + .slider {
 box-shadow: 0 0 1px #404040;
}

input:checked + .slider:before {
 -webkit-transform: translateX(25px);
 -ms-transform: translateX(25px);
 transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 30px;
}

.slider.round:before {
 border-radius: 50%;
}

/* MODAL EDIT ITEM */

#modalEditForm #modalEditItemAlert {
  display: none;
  margin: 1em 0;
}

#modalEditForm #modalEditItemAlert.is-active {
  display: block;
}

#modalEditForm #btnItemComplete {
  display: none;

  text-align: center;
}

#modalEditForm #btnItemComplete.is-active {
  display: block;
}

#modalEditForm .field {
  margin: .75em 0;
}

/* MEDIA QUERIES */

@media (max-width: 1023px) {

  #filterDropdown {
    width: 90%!important;
    padding: 0 2%!important;
  }

  #filterDropdown .dropdown-item {
      width: 100%!important;
      padding: 0 1.5em!important;
  }

  #filterDropdown.is-active {
    left: 3.5em;
  }

  .toggle {
    margin: 0!important;
    padding: 1em!important;
  }

  nav ul li {
    width: 3.5em;
    height: 3.5em;
  	line-height: 3.5em;
  }

  nav ul li a {
    width: 3.5em;
    height: 3.5em;
  }

  nav ul li.logo {
    width: 100%;
    height: 4.25em;
    font-size: .8em;
    line-height: 1em;
  }

  nav ul li.logo span {
    padding-top: 1.2em;
  }
}
