body {
  padding-top: 5em;
  margin: auto;
  background: #fff;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

body, button, input, optgroup, select, textarea {
  font-family: "FreeSans", Helvetica, Arial, "DejaVu Sans",  sans-serif;
}

/* FILE UPLOAD */

.file.has-name .file-name {
  width: auto;
  float: right;

  background: #fff;

  direction: rtl;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.fa-cog {
  font-size: 1.75em;
  text-align: right;
}*/

/* MODAL */

.modal .modal-background {
  background: #fff;
}

.modal .modal-content {
  /*width: 50em;*/
  /*max-width: 60%;*/
  padding: 2em;
  text-align: center;
}

.modal .modal-content h1 {
  margin: 0;
}

.modal .modal-content .subtitle {
  margin: .25em 0 3em 0;
}

.modal .modal-content .column {
  padding: 0 3em;
}

.modal .modal-content .column div {
  background: #363636;
  color: #fff;

  border-radius: 4px;

  padding: 1em 1em .5em 1em;

  font-size: 1.15em;

  cursor: pointer;
}

.modal .modal-content .column div svg {
  font-size: 1.15em;
}

.modal .modal-content .column p {
  margin-bottom: 0.5em;
}

.column:first-child {
  border-right: .25em solid #f5f5f5;
}

.hero {
  width: 100%;
  float: left;
}

/* MENU BAR */
#interactionBar {
  width: 100%;
  height: 5em;

  position: fixed;
  top: 0;
  z-index: 100;

  background: #f5f5f5;
}

#interactionBar .hero-body {
  padding: 0;
  z-index: 110;
  background: #f5f5f5;
}

#interactionBar .hero-body .item {
  height: 5em;
  float: left;

  padding: 0 1.5em;

  text-align: center;
  line-height: 5em;

  cursor: pointer;
}

#interactionBar .hero-body .item:hover,
#interactionBar .hero-body .item.is-active {
  background: #ebebeb;
  /*color: #fff;*/
}

#interactionBar .hero-body .item svg {
  font-size: 1.25em;
  color: #4d4d4d;
}

/*#interactionBar .logo {
  width: 12em;
  height: 5em;

  margin:0 auto;
  padding: 0 1.5em 0 0;

  color: #fff;
  line-height: 5em;

  background: #4a4a4a;

  -webkit-box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.25);
}*/

#interactionBar .field {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1.25em;
}

/* FILTER DROPDOWN */

#filterDropdown {
  width: 100%;
  position: absolute;
  top: -20em;
  z-index: 90;

  display: block;

  transition: top .5s;

  background: #ebebeb;
}

#filterDropdown.is-active {
  float: left;
  position: relative;
  top: 0;

  display: block;
}

#filterDropdown .container {
  position: static;
  z-index: 0;
  background: #ebebeb;
}

#filterDropdown .dropdown-item {
  width: 50%;
  float: left;
  padding: 0 2em 0 0;
}

/* FILTERS */
#todoFilters {
  width: 100%;
  float: left;
  margin: 2.5em 0;
}

#todoFilters button {
  /*text-transform: uppercase;*/
  margin: 0 .5rem .5rem 0;
}

/*#todoFilters div h4 {
  color: #fff;
}*/

#todoFilters div.contexts button  {
  background: #c5ede3;
  color: #075943;
  border: none;
}

#todoFilters div.contexts button:hover {
  background: #c9f2e8;
}

#todoFilters div.contexts button span.tag {
  background: #1aa37e;
  color: #fff;

  font-weight: bold;

  position: absolute;
  right: -.75em;
  top: -.75em;
  z-index: 100;
}

#todoFilters div.contexts button.is-dark  {
  background: #075943;
  color: #fff;
}

#todoFilters div.projects button {
  background: #f1d6f1;
  color: #5f1a5e;
  border: none;
}

#todoFilters div.projects button:hover {
  background: #f7dcf7;
}

#todoFilters div.projects button span.tag {
  background: #bc30ba;
  color: #fff;

  font-weight: bold;

  position: absolute;
  right: -.75em;
  top: -.75em;
  z-index: 100;
}

#todoFilters div.projects button.is-dark {
  background: #5f1a5e;
  color: #fff;
}

#todoFilters div.column {
    padding-left: 0;
}

.dropdown-menu {
  width: 50em;
}

/* FILTER */

#btnFilter #dropdown-menu2 {
  /*width: 100%;*/
}

/* SORT */

#btnSorting {
  /*float: right;
  clear: both;

  padding: 0 0 0.5em 3em;*/
}

/* TABLE */

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-bottom: solid 1px #d9d9d9;
  transition: 0.5s;
  padding: .25rem;
}

.flex-table.priority {
  border: none;
  font-weight: bold;
  font-size: 1.5em;
}

.flex-table.completed {
  color: grey;
}

.flex-table .flex-row[role="cell"] {
  margin: .25rem .5em .25em 0;
  height: auto;

  line-height: 1.5em;
}

/*.flex-table .flex-row.checkbox[role="cell"] .fa-square {
  font-size: 1.5em;
  color: #666666;
}*/

.flex-table .flex-row.text[role="cell"] {
  max-width: 55%;
}

.flex-table .flex-row[role="cell"] span.tag {
  margin: 0 .5em .5em 0;
}

.flex-table .flex-row.projects[role="cell"],
.flex-table .flex-row.contexts[role="cell"] {
  margin-right: 0;
}

.flex-table .flex-row.projects[role="cell"] span.tag {
  background: #f1d6f1;
  color: #5f1a5e;
}

.flex-table .flex-row.contexts[role="cell"] span.tag {
  background: #c5ede3;
  color: #075943;
}

 /*.flex-table:first-of-type {
	 border-top: solid 1px #1565c0;
	 border-left: solid 1px #1565c0;
}*/
 /*.flex-table:first-of-type .flex-row {
	 background: #1976d2;
	 color: white;
	 border-color: #1565c0;
}*/

/* https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.toggle {
  float: left;
  padding: 1.5em 1.5em 1.5em 0;
  margin: 0 1.5em 0 0;
  line-height: 2em;
}

.switch {
 position: relative;
 display: inline-block;
 width: 56px;
 height: 31px;
 float: left;
 margin-right: .7em;
}

.switch .text {
  float: left;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 25px;
 width: 25px;
 left: 4px;
 bottom: 3px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #4a4a4a;
}

input:focus + .slider {
 box-shadow: 0 0 1px #4a4a4a;
}

input:checked + .slider:before {
 -webkit-transform: translateX(25px);
 -ms-transform: translateX(25px);
 transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 30px;
}

.slider.round:before {
 border-radius: 50%;
}
