//  ####################################
//  COMPACT
//  ####################################

@mixin compact() {

  .contentContainer {
    .modalFileDrop {
      width: 90%;
    }
  }

  #modalForm {
    textarea {
      padding: 0.75em;
    }
  }
  .modal.content {
    .modal-card {
      padding: 1em;
    }
  }

  #todoTableSearchContainer #todoTableSearchAddTodo {
    top: 1.45em;
    right: 6em;
  }

  table tr td {
    padding: 0.25em 1.5em 0.25em 0 
  }
  #sortByContainer li {
    padding: 0.25em 0.5em;
  }
  #todoTable {
    padding: 0 1.5em 1.5em 1.5em;
    .group:first-child {
      margin-top: 0;
      
    }
    .group {
      .cell {
        margin-bottom: 0;
      }
    }
    .todo {
      .cell {
        padding: .25em 0;
        .text {
          margin: 0;
        }
      }
    }
  }
  nav {
    ul {
      width: 3.5em;
      li a,
      li.logo {
        width: 3.5em;
        height: 3.5em;
        line-height: 3.5em;
      }
    }
    ul:nth-child(2) {
      #versionNumber {
        margin-left: 5em;
      }
    }
  }
  #drawerContainer {
    min-width: 325px;
  }
  #autoCompleteContainer,
  #drawerContainer .drawer {
    padding: 1em;
    a.button {
      margin: 0 0.3em 0.3em 0;
      padding: 0.5em 0.7em;
      .tag {
        width: auto;
        height: auto;
        padding: 0 .5em;
        min-width: 1.5em;
        min-height: 1.5em;
      }
    }
    .priority a.button {
      padding: 0.2em 0.5em;
    }
  }
  #autoCompleteContainer {
    padding: 1em;
    h4 {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 992px),
screen and (max-height: 650px) {
  body {
    font-size: 0.9em;
  }
  @include compact;
}

@mixin mobile() {
  .modal {
    .modal-content {
      width: 95%;
      padding: 0.5em;
      .card-content {
        padding: 0.5em;
        #modalFormInputResize {
          top: 1.35em;
          right: 1.8em;
        }
      }
    }
  }
  #messages {
    right: 1em;
    margin: 0 0 0 1em;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 0.8em;
  }
  @include mobile;
}

body.compact {
  @include compact;
}
