//  ####################################
//  COMPACT
//  ####################################

@mixin compact() {

  #modalForm {
    textarea {
      padding: 0.75em!important;
    }
  }
  .modal.content {
    .modal-card {
      padding: 1em!important;
    }
  }

  table tr td {
    padding: 0.25em 1.5em 0.25em 0 !important
  }
  #sortByContainer li {
    padding: 0.25em 0.5em;
  }
  #todoTable {
    padding: 0 1.5em 1.5em 1.5em;
    .group:first-child {
      margin-top: 0;
      
    }
    .group {
      a {
        font-size: 0.8em!important;
      }
      .cell {
        margin-bottom: 0;
      }
    }
    .todo {
      .cell {
        padding: .25em 0;
        .text {
          margin: 0;
        }
      }
    }
  }
  nav {
    ul {
      width: 3.5em;
      li a,
      li.logo {
        width: 3.5em;
        height: 3.5em;
        line-height: 3.5em;
      }
    }
    ul:nth-child(2) {
      #versionNumber {
        margin-left: 5em;
      }
    }
  }
  #autoCompleteContainer,
  #drawerContainer .drawer {
    padding: 1.5em;
    .is-4 {
      font-size: 1.1em;
    }
    a.button.priority {
      font-size: 1.2em;
      .tag {
        font-size: 0.65em;
      }
    }
    a.button {
      font-size: 0.9em;
      margin: 0 0.3em 0.3em 0!important;
      padding: 0.5em 0.7em;
      .tag {
        width: auto;
        height: auto;
        padding: 0 .5em;
        min-width: 1.5em;
        min-height: 1.5em;
        font-size: .9em;
      }
    }
  }
  #autoCompleteContainer {
    padding: 1em;
    h4 {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 992px),
screen and (max-height: 650px) {
  @include compact;
}

@mixin mobile() {
  .modal {
    .modal-content {
      width: 95%!important;
      padding: 0.5em!important;
      .card-content {
        padding: 0.5em!important;
        #modalFormInputResize {
          top: 1.35em!important;
          right: 1.8em!important;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  @include mobile;
}

body.compact {
  @include compact;
}
