@charset "utf-8";

$has-text-danger: hsl(348, 100%, 61%);
$has-text-warning: hsl(48, 100%, 67%);
$has-text-success: hsl(141, 71%, 48%);

$green-mid: #075A44;
$green-dark: #1BA37E;
$green-bright: #c5ede3;

$lila-bright: #f1d6f1;
$lila-mid: #BC30BA;
$lila-dark: #5f1a5e;

$grey-pitchblack: #1d1e20;
$grey-mid: #2c2d30;
$grey-bright: #CCCDCF;
$grey-light: #3B3B3B;
$grey-lighter: #4d4d4d;

$modal-z: 50;
body {
  background-color: $grey-pitchblack;
  color: $grey-bright;
}
a {
  color: white;
}
button:focus,
a:focus{
  outline: 2px solid $grey-bright!important;
}
a:hover,
button:hover,
strong {
  color: $grey-bright;
}
input,
select,
textarea {
  border: none!important;
  background: $grey-mid!important;
  color: $grey-bright!important;
}
input[type="search"]::-webkit-search-cancel-button {
  background-color: white;
  -webkit-mask-image: url("../svg/times-circle.svg");
  mask-image: url("../svg/times-circle.svg");
}
input:active,
input:focus,
input.is-focused,
select:focus,
textarea:active,
textarea:focus,
input[type="search"]:focus {
  outline: none!important;
  box-shadow: 0 0 0 2px $grey-bright!important;
}
input::placeholder {
  color: $grey-lighter!important;
}
button {
  color: white!important;
  background: $grey-mid!important;
}
.button[disabled],
fieldset[disabled] {
  background-color: transparent;
}
button.is-outlined:hover {
  background: $grey-mid!important;
}
svg {
  color: $grey-bright;
}
.table {
  width: 100%;
  background-color: transparent!important;
  color: $grey-bright;
}
.table tr td {
  border-color: $grey-mid!important;
}
nav {
  background-color: $grey-mid;
  svg {
    color: $grey-bright;
  }
  ul {
    li.logo {
      background: none;
    }
    li {
      a {
        color: $grey-bright;
        border-bottom: 1px solid $grey-light;
      }
      a:hover,
      a:focus {
        color: $grey-bright;
        border-bottom: none;
        background-color: $grey-light;
      }
    }
    li.is-highlighted a {
      color: $grey-bright;
      border-bottom: none;
      background-color: $grey-light;
    }
  }
}
#todoTable {
  .flex-table#previousItem.is-highlighted {
    background-color: $grey-mid;
  }
  .flex-table.completed {
    color: $grey-light;
    .flex-row.text,
    .checkbox a,
    .checkbox a:hover,
    svg {
      color: inherit;
    }
    .flex-row span.tag {
      opacity: .5;
    }
    .flex-row span.tag.contexts {
      background: $grey-mid!important;
      color: $grey-bright!important;
    }
    .flex-row span.tag.projects {
      background: $grey-light!important;
      color: $grey-bright!important;
    }
    .flex-row.itemDueDate {
      color: $grey-mid!important;
    }
    svg {
      color: $grey-mid!important;
    }
    .flex-row.itemDueDate .tags .tag.is-dark {
      background: $grey-mid!important;
    }
  }
  .flex-table:hover .flex-row.todoTableItemMore a {
    color: $grey-bright;
  }
  .flex-table {
    border-color: $grey-mid;
    .checkbox a {
      color: $grey-bright;
    }
    .checkbox a:hover {
      color: white;
    }
    .flex-row.text {
      color: $grey-bright;
    }
    .flex-row.itemDueDate {
      color: white;
    }
    .flex-row span.tag.contexts {
      background: $green-mid!important;
      color: $green-bright!important;
    }
    .flex-row span.tag.projects {
      background: $lila-dark!important;
      color: $lila-bright!important;
    }
    .flex-row .is-white {
      color: $grey-bright;
      background: none;
    }
    .flex-row.todoTableItemMore a {
      color: $grey-bright;
    }
    .flex-row.todoTableItemMore .dropdown-content {
      background: $grey-mid;
      color: white;
    }
    .flex-row.todoTableItemMore.is-active .dropdown-menu .dropdown-item:hover {
      background: $grey-light;
    }
  }
}
#filterDrawer {
  background: $grey-light;
  .dropdown-item.is-greyed-out a {
    background: $grey-mid!important;
    color: $grey-bright!important;
    opacity: .8;
  }
  .dropdown-item.is-greyed-out span.tag {
    background: $grey-mid!important;
    color: white!important;
  }
}
.filterDrawer {
  .dropdown-item a.headline,
  .dropdown-item a.headline a {
    color: $grey-bright!important;
  }
  div.contexts {
    a.button  {
      background: $green-mid;
      color: $green-bright;
      span.tag {
        background: $green-bright;
        color: $green-mid;
      }
    }
    a.button:hover,
    a.button.is-dark {
      background: $green-dark;
    }
  }
  div.projects {
    a.button  {
      background: $lila-dark;
      color: $lila-bright;
      span.tag {
        background: $lila-bright;
        color: $lila-dark;
      }
    }
    a.button:hover,
    a.button.is-dark {
      background: $lila-mid;
    }
  }
  .button.is-white {
    background-color: $grey-mid!important;
    color: $grey-bright!important;
  }
  .dropdown-content {
    background: $grey-mid!important;
  }
  .dropdown-content h4 {
    color: $grey-bright!important;
  }
}
.columns a#filterColumnClose {
  background: $grey-light;
  svg {
    color: $grey-bright!important;
  }
}
.toggle {
  .switch {
    .slider {
      background-color: $grey-lighter;
    }
    input:checked + .slider {
      background-color: $grey-mid !important;
    }
    input:focus + .slider {
      box-shadow: none;
    }
    input:focus {
      outline: none;
    }
  }
}
#modalForm {
  button {
    color: white;
    border-color: $grey-mid!important;
    background: transparent!important;
  }
  button:hover {
    color: $grey-bright!important;
  }
}
.modal {
  .modal-content {
    .card {
      background: $grey-light;
      color: $grey-bright;
      .card-header-title {
        color: $grey-bright;
      }
      .card-footer,
      .card-footer-item {
        border-color: $grey-mid;
      }
    }
  }
  button {
    color: white;
    border-color: $grey-mid!important;
  }
}
#recurrencePicker {
  #recurrencePickerInput,
  .radio {
    cursor: pointer;
    background: none!important;
    color: white!important;
  }
  #recurrencePickerInput::placeholder {
    color: white!important;
  }
  .radio:hover {
    color: $grey-bright!important;
  }
  #recurrencePickerContainer {
    background: $grey-mid;
    .card-footer {
      border-color: $grey-pitchblack;
    }
  }
}
.message.fixed {
  background: transparent!important;
  .message-body {
    color: $grey-bright;
    background: $grey-light!important;
  }
}
.dueDate {
  svg,
  #dueDatePickerInput,
  #dueDatePickerInput::placeholder {
    color: white!important;
    background: transparent!important;
    cursor: pointer;
  }
}
.datepicker {
  background: none;
  .datepicker-picker {
    background: $grey-mid;
    color: white;
    .button,
    .button:hover,
    .datepicker-header .datepicker-controls .button:hover {
      background: none;
      color: inherit;
    }
    .datepicker-footer .datepicker-controls .button {
      color: inherit;
    }
    .datepicker-cell.selected,
    .datepicker-cell.selected:hover {
      color: $grey-mid;
      background: white;
    }
    .datepicker-cell.focused:not(.selected),
    .datepicker-cell:hover {
      color: $grey-mid;
      background: $grey-bright;
    }
  }
}
.modal.content {
  color: $grey-bright!important;
  input {
    background-color: $grey-mid!important;
  }
  select {
    background-color: $grey-mid!important;
    color: inherit;
    border: none;
  }
  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: white!important;
  }
  .is-large.delete,
  .is-large.modal-close,
  .tag.is-info {
    background: white!important;
    color: $grey-mid!important;
  }
  .modal-close::before,
  .modal-close::after {
    color: $grey-mid!important;
    background: $grey-mid!important;
  }
  .modal-card,
  table {
    background: $grey-light;
    color: $grey-bright!important;
  }
  .title,
  table th {
    color: white;
  }
  table tr,
  table th,
  table td {
    border-color: $grey-mid!important;
  }
  .tabs ul {
    border-color: transparent;
  }
  .tabs li a {
    color: white;
    border-color: $grey-lighter;
  }
  .tabs li a:hover {
    border-color: $grey-bright;
  }
  .tabs li.is-active a {
    color: white;
    border-color: $grey-bright;
  }
}
.contentContainer {
  .title.is-1,
  .subtitle,
  .subtitle strong {
    color: $grey-bright;
  }
}
#suggestionContainer {
  background: $grey-mid;
  h4 {
    color: $grey-bright;
  }
}
