@charset "utf-8";

$has-text-grey-light: hsl(0, 0%, 71%);
$light-grey: #f5f5f5;
$mid-grey: #ebebeb;
$dark-grey: #ccc;
$darker-grey: #4a4a4a;

$has-text-link: hsl(217, 71%, 53%);

$has-text-danger: hsl(348, 100%, 61%);
$has-text-warning: hsl(48, 100%, 67%);
$has-text-success: hsl(141, 71%, 48%);

$sleek-contexts-button: #c5ede3;
$sleek-contexts-button-font: #075943;
$sleek-contexts-button-hover: #c9f2e8;
$sleek-contexts-button-bubble: #1aa37e;
$sleek-contexts-button-highlighted: #075943;

$sleek-projects-button: #f1d6f1;
$sleek-projects-button-font: #5f1a5e;
$sleek-projects-button-hover: #f7dcf7;
$sleek-projects-button-bubble: #bc30ba;
$sleek-projects-button-highlighted: #5f1a5e;

$body-background-color: #1E2022;
$body-text-color: #CCCDCF;
$modal-z: 50;
body {
  background-color: $body-background-color;
  color: $body-text-color;
}
a {
  color: white;
}
button:focus,
a:focus{
  outline: 2px solid $body-text-color!important;
}
a:hover,
strong {
  color: $body-text-color;
}
input {
  background-color: none;
  color: $body-text-color;
  border: none!important;
}
input:active,
input:focus {
  box-shadow: 0 0 0 0.125em $body-text-color!important;
}
input[type="search"]::-webkit-search-cancel-button {
  background-color: white;
  -webkit-mask-image: url("../svg/times-circle.svg");
  mask-image: url("../svg/times-circle.svg");
}
nav {
  background-color: #2C2D30;
  ul {
    li.logo {
      background: none;
    }
    li {
      a {
        color: #B5B5B5;
        border-bottom: 1px solid #3B3B3B;
      }
      a:hover,
      a:focus {
        color: #B5B5B5;
        border-bottom: none;
        background-color: #3B3B3B;
      }
    }
    li.is-highlighted a {
      color: #B5B5B5;
      border-bottom: none;
      background-color: #3B3B3B;
    }
  }
}
#todoTable {
  #todoTableSearch {
    color: $body-text-color;
    background-color: #2D2E31;
  }
  #todoTableSearch::placeholder {
    color: #4a4a4a;
  }
  .flex-table#previousDataItem.is-highlighted {
    background-color: $darker-grey;
  }
  .flex-table.completed {
    color: #4A4A4A;
    .flex-row.text,
    .checkbox a,
    .checkbox a:hover {
      color: inherit;
    }
    .flex-row span.tag.contexts {
      background: #2c2d30!important;
      color: inherit!important;
    }
    .flex-row span.tag.projects {
      background: #3b3b3b!important;
      color: #636363!important;
    }
    .flex-row.itemDueDate {
      opacity: .4;
    }
  }
  .flex-table:hover .flex-row.todoTableItemMore a {
    color: $body-text-color;
  }
  .flex-table {
    border-color: #2D2E31;
    .checkbox a {
      color: $body-text-color;
    }
    .checkbox a:hover {
      color: white;
    }
    .flex-row.text {
      color: $body-text-color;
    }
    .flex-row.itemDueDate {
      color: white;
    }
    .flex-row span.tag.contexts {
      background: #075943!important;
      color: #c5ede3!important;
    }
    .flex-row span.tag.projects {
      background: #5f1a5e!important;
      color: #f1d6f1!important;
    }
    .flex-row .is-white {
      color: $body-text-color;
      background: none;
    }
    .flex-row.todoTableItemMore a {
      color: $body-text-color;
    }
    .flex-row.todoTableItemMore .dropdown-content {
      background: #4a4a4a;
      color: white;
    }
    .flex-row.todoTableItemMore.is-active .dropdown-menu .dropdown-item:hover {
      background: #3b3b3b;
    }
  }
}
#filterDropdown {
  background: #3B3B3B;
  .dropdown-item.is-greyed-out a {
    background: #2c2d30!important;
    color: #B5B5B5!important;
    opacity: .8;
  }
  .dropdown-item.is-greyed-out span.tag {
    background: #1e2022!important;
    color: white!important;
  }
}
.filterDropdown {
  .dropdown-item a.headline,
  .dropdown-item a.headline a {
    color: $body-text-color!important;
  }
  div.contexts {
    a.button  {
      background: #075A44;
      color: #C5EDE3;
      span.tag {
        background: #C5EDE3;
        color: #075A44;
      }
    }
    a.button:hover,
    a.button.is-dark {
      background: #1BA37E;
    }
  }
  div.projects {
    a.button  {
      background: #5F1A5E;
      color: #F2D6F2;
      span.tag {
        background: #F2D6F2;
        color: #5F1A5E;
      }
    }
    a.button:hover,
    a.button.is-dark {
      background: #BC30BA;
    }
  }
  .button.is-white {
    background-color: #2C2D30!important;
    color: $body-text-color!important;
  }
  .dropdown-content {
    background: #2C2D30!important;
  }
  .dropdown-content h4 {
    color: $body-text-color!important;
  }
}
.columns a#filterColumnClose {
  background: #3B3B3B;
  color: $body-text-color;
}
.toggle {
  .switch {
    .slider {
      background-color: #4a4a4a;
    }
    input:checked + .slider {
      background-color: #2C2D30 !important;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #2C2D30;
    }
    input:focus {
      outline: 2px solid $body-text-color!important;
    }
  }
}
#modalForm {
  button {
    color: white;
    border-color: #1e2022!important;
  }
  button:hover {
    color: $body-text-color;
  }
}
.modal {
  .modal-content {
    .card {
      background: #4A4A4A;
      color: $body-text-color;
      .card-header-title {
        color: $body-text-color;
      }
      #modalFormInput {
        background-color: #2D2E31;
        color: $body-text-color;
      }
      #modalFormInput::placeholder {
          color: #4a4a4a;
      }
      .card-footer,
      .card-footer-item {
        border-color: #2D2E31;
      }
    }
  }
  button {
    color: white;
    border-color: #1e2022!important;
  }
}
.dueDate {
  svg,
  #dueDatePickerInput,
  #dueDatePickerInput::placeholder {
    color: white;
  }
}
.datepicker {
  background: none;
  .datepicker-picker {
    background: #2D2E31;
    color: white;
    .button,
    .button:hover,
    .datepicker-header .datepicker-controls .button:hover {
      background: none;
      color: inherit;
    }
    .datepicker-footer .datepicker-controls .button {
      color: inherit;
    }
    .datepicker-cell.selected,
    .datepicker-cell.selected:hover {
      color: #2D2E31;
      background: white;
    }
    .datepicker-cell.focused:not(.selected),
    .datepicker-cell:hover {
      color: #2D2E31;
      background: $body-text-color;
    }
  }
}
.contentContainer {
  .title.is-1,
  .subtitle,
  .subtitle strong {
    color: $body-text-color;
  }
}
#suggestionContainer {
  background: #2D2E31;
  h4 {
    color: $body-text-color;
  }
}
