@charset "utf-8";
@import "variables.scss";
@media (prefers-color-scheme: dark) {
  body {
    background-color: $almost-black;
    color: $almost-white;
    code, pre {
      color: $lighter-grey;
      background-color: $almost-black;
    }
    strong {
      color: white;
    }
    input,
    select {
      border: none;
      background: transparent;
      color: white;
    }

    a:hover, a:active, a:focus {
      color: $has-text-link;
    }

    .button {
      background-color: transparent;
    }

    .button:focus:not(:active), .button.is-focused:not(:active), .button:active, .button.is-active, input[type=number], .button:focus, .button.is-focused, .select select, .textarea, .input, .select select:focus, .textarea:focus, .input:focus, .select select.is-focused, .is-focused.textarea, .is-focused.input, .select select:active, .textarea:active, .input:active, .select select.is-active, .is-active.textarea, .is-active.input {
      background: $darker-grey;
      border: none;
      color: white;
    }

    input[type="text"]::placeholder,
    input[type="search"]::placeholder,
    textarea.is-medium::placeholder {
      color: $dark-grey;
    }
    input[type="checkbox"]:focus,
    input[type="checkbox"]:active {
      outline: none;
      box-shadow: none;
    }
    input[type="range"],
    input[type="range"]:focus {
      background: $dark-grey;
    }
    input[type="range"]::-webkit-slider-thumb {
      background: $almost-white;
    }
    button:focus-visible {
      color: $almost-white;
      background: $darker-grey;
    }
    table {
      width: 100%;
      background-color: transparent;
      color: $lighter-grey;
    }
    table tr td {
      border-color: $almost-black;
    }
    table tr th {
      color: white;
    }
    nav {
      background-color: $darker-grey;
      svg {
        color: $lighter-grey;
      }
      ul {
        li.logo {
          color: $almost-white;
          border:  none;
        }
        li a {
          color: $mid-grey;
          border-bottom: 1px solid $even-darker-grey;
        }
        li a:hover,
        li a:focus {
          color: $lighter-grey;
          border-bottom: none;
          background-color: $even-darker-grey;
        }
        li a.is-highlighted {
          color: $lighter-grey;
          border-bottom: none;
          background-color: $even-darker-grey;
        }
      }
      ul:nth-child(2) {
        #versionNumber {
          color: $lighter-grey;
        }
        #versionNumber:hover {
          color: $lighter-grey;
        }
      }
    }

    a.button.contexts,
    a.button.contexts:hover {
      color: $sleek-contexts-button;
      background: darken($sleek-contexts-button, 60%);
      span.tag {
        color: darken($sleek-contexts-button, 70%);
        background: lighten($sleek-contexts-button, 1%);
      }
    }
    a.button.contexts.is-dark,
    a.button.contexts.is-dark:hover,
    a.button.contexts:focus-visible {
      background: darken($sleek-contexts-button, 70%);
      color: white;
    }
    a.button.projects,
    a.button.projects:hover {
      color: $sleek-projects-button;
      background: darken($sleek-projects-button, 60%);
      span.tag {
        color: darken($sleek-projects-button, 70%);
        background: lighten($sleek-projects-button, 1%);
      }
    }
    a.button.projects.is-dark,
    a.button.projects.is-dark:hover,
    a.button.projects:focus-visible {
      background: darken($sleek-projects-button, 70%);
      color: white;
    }
    a.button.is-greyed-out {
      background: $has-text-link;
      color: white;
      filter: opacity(40%) grayscale(100%);
    }

    #drawerContainer {
      .zoom {
        svg {
          color: white;
        }
        #zoomStatus {
          color: white;
        }
      }
      .todoFilterHint {
        color: $lighter-grey;
      }
      button {
        background-color: $darker-grey;
        color: white;
      }
    }
    #todoTableSearchContainer {
      background-color: $almost-black;
      
      #todoTableSearchAddTodo {
        background: $almost-black;
        color: $almost-white;
        i {
          color: inherit;
        }
      }
      #todoTableSearchAddTodo:hover,
      #todoTableSearchAddTodo:focus,
      #todoTableSearchAddTodo:focus-visible {
        color: white;
        background: $has-text-link;
      }
      #btnToggleViewContainer {
        background: transparent;
      }
    }
    #resultStats {
      .tag {
        color: $lighter-grey;
      }
    }
    #todoTable {
      i.fa-sort-down {
        color: $dark-grey;
      }
      .todo#previousItem.is-highlighted {
        background-color: $even-darker-grey;
      }
      .todo:hover .cell,
      .todo.due {
        button {
          color: $almost-white;
        }
      }

      .is-white {
        color: $lighter-grey;
        background: none;
      }

      .todo {
        border-color: $even-darker-grey;
        .cell.checkbox {
          i {
            color: $has-text-link;
            font-size: 1.25em;
          }
          a:focus-visible {
            color: white;
          }
          i:hover {
            color: white;
          }
        }
        .cell.checkbox,
        .cell.archive {
          a:focus-visible {
            color: $lighter-grey;
          }
        }
        .cell.text {
          color: $almost-white;
        }
        .cell.text:focus-visible {
          background: $darker-grey;
        }
        .cell.hint.itemDueDate {
          i {
            color: inherit;
          }
        }
        .cell.hint.itemDueDate.today,
        .cell.hint.itemDueDate.past {
          color: $has-text-danger;
          i {
            color: inherit;
          }
        }
        .cell.hint.itemDueDate.tomorrow {
          color: $has-text-attention;
          i {
            color: inherit;
          }
        }
        .cell.hint {
          i:not(.fa-sort-down) {
            color: $lighter-grey;
          }
        } 
      }
      .todo:focus {
        background: lighten($darker-grey, 5%);
      }
    }
    #modalForm {
      .field {
        input,
        select,
        input::placeholder {
          color: white;
        }
        select option {
          background: $even-darker-grey;
        }
        input:focus-visible, 
        select:focus-visible {
          background-color: $darker-grey;
        }
      }
      #autoCompleteContainer {
        background: $darker-grey;
        h4 {
          color: white;
        }
        section::-webkit-scrollbar-thumb:window-inactive,
        section::-webkit-scrollbar-thumb {
          background: $dark-grey;
        }
      }
    }
    #recurrencePickerContainer {
      background: $darker-grey;
      .radio {
        cursor: pointer;
        background: none;
        color: white;
      }
      .radio:hover {
        color: $lighter-grey;
      }
      .card-footer {
        border-color: $almost-black;
      }
    }
    #drawerContainer {
      .drawer {
        background: $even-darker-grey;
        h4.is-4 {
          color: white;
        }
        button {
          span.tag {
            color: $dark-grey;
          }
        }
        #sortByContainer {
          li {
            background: $darker-grey;
            color: white;
            i {
              /*color: $light-grey;*/
            }
          }
          li.drag-sort-active {
            border-left: 0.2em solid white;
          }
        }
      }
      .drawer::-webkit-scrollbar-thumb:window-inactive,
      .drawer::-webkit-scrollbar-thumb {
        background: $dark-grey;
      }
      #drawerClose {
        background: $even-darker-grey;
      }
    }
    #todoTableWrapper {
      header {
        background-color: $almost-black;
      }
    }
    #todoTableWrapper::-webkit-scrollbar-thumb:window-inactive,
    #todoTableWrapper::-webkit-scrollbar-thumb {
      background: $even-darker-grey;
    }
    #filterContext,
    #todoContext {
      box-shadow: 0 0 1em $almost-black;
      .dropdown-item {
        color: $almost-white;
      }
      .dropdown-item:hover,
      .dropdown-item:focus,
      .dropdown-item:focus-visible {
        color: $almost-white;
        background: $darker-grey;
      }
      .card {
        background: $even-darker-grey;
        #filterContextDelete {
          color: $has-text-danger;
        }
      }
      .card-content .horizontal {
        label {
          color: $light-grey;
        }
        border-bottom: 1px solid $darker-grey;
      }
    }
    #fileTabBar {
      ul {
        background-color: $darker-grey;
        li {
          color: $mid-grey;
          i {
            color: $darker-grey;
          }
        }
        li:hover,
        li.is-highlighted:hover {
          i {
            color: $has-text-link;
          }
        }
        li.is-highlighted {
          background: $almost-black;
          color: white;
          i {
            color: $almost-black;
          }
        }
      }
    }
    .toggle {
      .switch {
        .slider {
          background-color: $dark-grey;
        }
        input:checked + .slider {
          background-color: $has-text-link;
        }
        input:focus + .slider {
          box-shadow: none;
        }
        input:focus-visible {
          outline: 2px solid white;
        }
      }
    }

    .card {
      background: $even-darker-grey;
      color: $lighter-grey;
      .card-footer-item:hover {
        color: $lighter-grey;
      }
      .card-footer-item:focus-visible {
        color: $almost-white;
        background: $darker-grey;
      }
      .card-footer {
        border-color: $darker-grey;
      }
      .card-footer-item {
        border-color: $darker-grey;
        background: transparent;
        color: $almost-white;
      }
    }

    .modal.content {
      color: $lighter-grey;
      button,
      button,
      select {
        background: $darker-grey;
      }
      
      
      .tag:not(body).is-dark {
        background: $almost-black;
      }
      .modal-close::before,
      .modal-close::after {
        color: $even-darker-grey;
        background: $even-darker-grey;
      }
      .modal-card,
      table {
        background: $even-darker-grey;
        color: $lighter-grey;
        .modal-card-body::-webkit-scrollbar-thumb:window-inactive,
        .modal-card-body::-webkit-scrollbar-thumb {
          background: $darker-grey;
        }
      }
      .title,
      table th {
        color: white;
      }
      table tr,
      table th,
      table td {
        border-color: $darker-grey;
      }
      .card {
        background: $almost-white;
      }
      .tabs {
        ul {
          border-color: transparent;
        }
        ul li a {
          color: white;
          border-color: $dark-grey;
        }
        ul li.is-active a {
          color: $has-text-link;
          border-color: $has-text-link;
        }
        ul li a:focus-visible {
          background: $dark-grey;
        }
      }
    }
    .message.fixed {
      background: transparent;
      .message-body {
        color: $lighter-grey;
        background: $even-darker-grey;
        button {
          background: $darker-grey;
        }
      }
    }
    .dueDate {
      #datePickerInput,
      #datePickerInput::placeholder {
        cursor: pointer;
      }
    }
    .datepicker {
      background: transparent;
      button {
        background: transparent;
      }
      .datepicker-picker {
        background: $darker-grey;
        color: white;
        button,
        button:hover,
        .datepicker-header .datepicker-controls button:hover {
          background: none;
          color: inherit;
        }
        .datepicker-footer .datepicker-controls button {
          color: inherit;
        }
        .datepicker-cell {
          border-color: $darker-grey;
          background: $darker-grey;
        }
        .datepicker-cell.today,
        .datepicker-cell.today.selected {
          color: $darker-grey;
          background: $mid-grey;
        }
        .datepicker-cell.selected,
        .datepicker-cell.selected:hover,
        .datepicker-cell.selected.focused, {
          color: white;
          background: $has-text-link;
        }
        .datepicker-cell:hover,
        .datepicker-cell.focused {
          border-color: $has-text-link;
        }
      }
    }
    .contentContainer {
      .title.is-1 {
        color: $almost-white;
      }
      .subtitle,
      .subtitle strong {
        color: $almost-white;
      }
      .btnOnboarding:focus-visible,
      .btnOnboarding:hover {
        i, span {
          color: $almost-white;
        }
      }
    }
    .notification {
      background-color: $darker-grey;
      color: $almost-white;
    }
  }
}