//  ####################################
//  BUTTON COLORING
//  ####################################

.contexts {
  .button,
  .button:hover {
    background: $sleek-contexts-button;
    color: darken($sleek-contexts-button, 60%);
    span.tag {
      color: white;
      background: darken($sleek-contexts-button, 55%);
    }
  }
  .button:focus-visible,
  .button.is-dark:focus-visible {
    background: darken($sleek-contexts-button, 55%);
    color: white;
  }
  .button.is-dark,
  .button.is-dark:hover,
  .button.is-dark.is-hovered  {
    background: darken($sleek-contexts-button, 65%);
    color: white;
  }
}
.projects {
  .button,
  .button:hover {
    background: $sleek-projects-button;
    color: darken($sleek-projects-button, 60%);
    span.tag {
      color: white;
      background: darken($sleek-projects-button, 55%);
    }
  }
  .button:focus-visible,
  .button.is-dark:focus-visible {
    background: darken($sleek-projects-button, 55%);
    color: white;
  }
  .button.is-dark,
  .button.is-dark:hover,
  .button.is-dark.is-hovered {
    background: darken($sleek-projects-button, 65%);
    color: white;
  }
}
.priority {
  .button,
  .button:hover {
    font-size: 1.2em;
    font-family: FreeSansBold;
    background: $mid-grey;
    color: darken($mid-grey, 40%);
    padding: .25em .7em;
    height: auto;
    span.tag {
      color: inherit;
    }
  }
  .button:hover {
    color: darken($mid-grey, 40%);
    span.tag {
      color: inherit;
    }
  }
  .button.is-dark span.tag {
    background: darken($mid-grey, 50%);
  }
  .button.is-dark,
  .button.is-dark:hover,
  .button.is-dark.is-hovered {
    background: darken($mid-grey, 35%);
    color: white;
  }
  .button.A {
    background: $has-text-danger;
    color: lighten($has-text-danger, 35%);
    span.tag {
      color: $has-text-danger;
      background: lighten($has-text-danger, 35%);
    }
  }
  .button.A.is-dark {
    background: darken($has-text-danger, 20%);
    span.tag {
      color: darken($has-text-danger, 20%);
    }
  }
  .button.B {
    color: lighten($has-text-attention, 35%);
    background: $has-text-attention;
    span.tag {
      color: $has-text-attention;
      background: lighten($has-text-attention, 30%);
    }
  }
  .button.B.is-dark {
    background: darken($has-text-attention, 20%);
    span.tag {
      color: darken($has-text-attention, 20%);
    }
  }
  .button.C {
    color: lighten($has-text-warning, 35%);
    background: $has-text-warning;
    span.tag {
      color: $has-text-warning;
      background: lighten($has-text-warning, 30%);
    }
  }
  .button.C.is-dark {
    background: darken($has-text-warning, 20%);
    span.tag {
      color: darken($has-text-warning, 20%);
    }
  }
}
