//  ####################################
//  a COLORING
//  ####################################

a.button {
  font-size: 1em;
  border: none;
  border-radius: $radius;
  outline: none!important;
  box-shadow: 0;
  padding: 0.55em 0.75em;
  cursor: pointer;
}

#autoCompleteContainer a.button {
  margin: 0 0.5em 0.5em 0;
}

a.contexts,
a.contexts:hover {
  background: $sleek-contexts-button!important;
  color: darken($sleek-contexts-button, 60%)!important;
  span.tag {
    color: white;
    background: darken($sleek-contexts-button, 55%)!important;
  }
}
a.button.contexts:focus-visible,
a.button.contexts.is-dark:focus-visible {
  background: darken($sleek-contexts-button, 55%)!important;
  color: white!important;
}
a.contexts.is-dark,
a.contexts.is-dark:hover,
a.contexts.is-dark.is-hovered  {
  background: darken($sleek-contexts-button, 65%)!important;
  color: white!important;
}

a.projects,
a.projects:hover {
  background: $sleek-projects-button!important;
  color: darken($sleek-projects-button, 60%)!important;
  span.tag {
    color: white;
    background: darken($sleek-projects-button, 55%);
  }
}
a.button.projects:focus-visible,
a.button.projects.is-dark:focus-visible {
  background: darken($sleek-projects-button, 55%)!important;
  color: white!important;
}
a.projects.is-dark,
a.projects.is-dark:hover,
a.projects.is-dark.is-hovered {
  background: darken($sleek-projects-button, 65%)!important;
  color: white!important;
}

a.priority {
  height: auto;
  font-size: 1.2em;
  font-family: FreeSansBold;
  background: $mid-grey;
  color: white!important;
  padding: 0.1em 0.5em!important;
  span.tag {
    color: $dark-grey;
  }
}
a.priority.is-dark,
a.priority.is-dark:hover,
a.priority.is-dark.is-hovered,
a.priority:focus-visible {
  background: darken($mid-grey, 20%);
}
a.priority.A,
.cell.priority.A {
  background: $has-text-danger!important;
  color: lighten($has-text-danger, 35%)!important;
  span.tag {
    color: $has-text-danger!important;
    background: lighten($has-text-danger, 35%);
  }
}
a.priority.A.is-dark,
a.priority.A:focus-visible {
  background: darken($has-text-danger, 20%)!important;
  span.tag {
    color: darken($has-text-danger, 20%)!important;
  }
}
a.priority.B,
.cell.priority.B {
  color: lighten($has-text-attention, 35%)!important;
  background: $has-text-attention!important;
  span.tag {
    color: $has-text-attention!important;
    background: lighten($has-text-attention, 30%);
  }
}
a.priority.B.is-dark,
a.priority.B:focus-visible {
  background: darken($has-text-attention, 20%)!important;
  span.tag {
    color: darken($has-text-attention, 20%)!important;
  }
}
a.priority.C,
.cell.priority.C {
  color: lighten($has-text-warning, 35%)!important;
  background: $has-text-warning!important;
  span.tag {
    color: $has-text-warning!important;
    background: lighten($has-text-warning, 30%);
  }
}
a.priority.C.is-dark,
a.priority.C:focus-visible {
  background: darken($has-text-warning, 20%)!important;
  span.tag {
    color: darken($has-text-warning, 20%)!important;
  }
}
