//  ####################################
//  NAVIGATION
//  ####################################

nav {
  height: 100%;
  position: relative;
  background: $almost-white;
  ul {
    float: left;
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
    li a,
    li.logo {
      width: 5em;
      position: relative;
      display: block;
      height: 5em;
      line-height: 5em;
      color: $dark-grey!important;
    	cursor: pointer;
    	text-align: center;
    	border-bottom: 1px solid rgba(0,0,0,0.05);
    }
    li a:focus,
    li a:hover,
    li a.is-highlighted {
      color: $dark-grey!important;
      background: $light-grey;
    }
    li.logo {
      font-family: FreeSansBold;
      color: white!important;
      background: $dark-grey;
      cursor: default;
      background: linear-gradient(0.33turn, #1b5551, #813e93);
    }
  }
  ul:nth-child(2) {
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
    }
    @keyframes fadeOut {
      from {opacity: 1;}
      to {opacity: 0;}
    }
    #versionNumber {
      width: auto!important;
      padding: 0.1em;
      display: none;
      line-height: 1em;
      position: fixed;
      bottom: 0.2em;
      z-index: 80;
      margin-left: 7em;
      font-size: 0.8em;
      color: $mid-grey;
      background: transparent!important;

      opacity: 0;
      animation: fadeOut 1s forwards;
      //animation-delay: .5s;
    }
  }
  ul:nth-child(2):hover {
    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    @keyframes fadeOut {
        from {opacity: 1;}
        to {opacity: 0;}
    }
    #versionNumber {
      display: flex;
      opacity: 0;
      animation: fadeIn 1s forwards;
      animation-delay: 0.5s;
    }
  }

}
