html,
body {
  filter: grayscale(100%);
  color: black;
  font-size: 9pt;
  -webkit-print-color-adjust: exact ;
}
nav #drawerContainer,
nav ul,
header #fileTabBar,
#drawerClose,
#viewDrawer,
#todoContext,
#filterContext,
#modalChangeFile,
#modalPrompt,
#messages,
#modalForm,
#modalHelp,
#modalSettings,
#btnFiltersResetFilters {
  display: none;
}

.columns.is-mobile {
  display: block;
}

.columns #todoTableWrapper {
  overflow-x: visible;
  overflow-y: visible;
}

#todoTable .cell:hover .tags, #todoTable .cell:focus .tags,
#todoTable .cell.itemDueDate .tags,
#todoTable .cell.itemDueDate .fa-sort-down {
  display: block;
}

#todoTable .cell span.tag.contexts {
  background: black;
  color: white;
  opacity: 0.7;
}
#todoTable .cell span.tag.projects {
  background: $light-grey;
  color: black;
}

// nav #drawerContainer,
// nav #drawerContainer section#filterDrawer {
//   width: 100%;
//   --resizeable-width: 100%;
//   --max-width: 100%;
//   --min-width: 100%;
//   float: left;
//   display: block;
// }
