//  ####################################
//  SEARCH
//  ####################################

#todoTableSearchContainer {
  display: none;
  margin: 0 1.5em;
  padding-bottom: 0.5em;
  background: white;
  position: sticky;
  top: 0;
  z-index: 45;
  #todoTableSearchAddTodo {
    display: none;
    position: absolute;
    top: 2.4em;
    right: 5em;
    color: $has-text-link;
    background: white;
    text-decoration: none;
  }
  #todoTableSearchAddTodo.is-active {
    display: flex!important;
  }
  #todoTableSearchAddTodo:hover,
  #todoTableSearchAddTodo:focus,
  #todoTableSearchAddTodo:focus-visible {
    color: $almost-black!important;
    background: white!important;
  }
  input[type="search"] {
    padding-left: 3.5em;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
    background-color: $has-text-link;
    -webkit-mask-image: url("../../node_modules/@fortawesome/fontawesome-free/svgs/solid/times-circle.svg");
    mask-image: url("../../node_modules/@fortawesome/fontawesome-free/svgs/solid/times-circle.svg");
    cursor: pointer;
    margin-top: -0.7em;
  }
  label {
    left: 5.9em;
  }
  i.fa-search,
  .todoTableSearchQuestionmark {
    font-size: 1.3em;
    line-height: 1;
    position: absolute;
    top: 0.8em;
    left: 1.4em;
    z-index: 70;
    padding: 0.75em 0;
  }
}
