//  ####################################
//  SEARCH
//  ####################################

#todoTableSearchContainer.is-focused {
  i.fa-search {
    color: $has-text-link;
  }
}

#todoTableSearchContainer {
  width: 100%;
  float: left;
  position: relative;
  display: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em 1.5em;
  background: white;
  #todoTableSearchAddTodo {
    display: none;
    position: absolute;
    top: 1.8em;
    right: 7em;
    color: $has-text-link;
    background: white;
    text-decoration: none;
  }
  #todoTableSearchAddTodo.is-active {
    display: flex!important;
  }
  #todoTableSearchAddTodo:hover,
  #todoTableSearchAddTodo:focus,
  #todoTableSearchAddTodo:focus-visible {
    color: $almost-white!important;
    background: $has-text-link!important;
  }
  input[type="search"] {
    padding-left: 3.2em;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
    background-color: $has-text-link;
    -webkit-mask-image: url("../../node_modules/@fortawesome/fontawesome-free/svgs/solid/circle-xmark.svg");
    mask-image: url("../../node_modules/@fortawesome/fontawesome-free/svgs/solid/circle-xmark.svg");
    cursor: pointer;
  }
  label {
    cursor: pointer;
    font-size: 0.75em;
    position: absolute;
    top: 0.5em;
    left: 2.5em;
    z-index: 65;
  }
  i.fa-search {
    font-size: 1.3em;
    line-height: 1;
    position: absolute;
    top: 0.4em;
    left: 2.5em;
    z-index: 70;
    padding: 0.75em 0;
  }
}
