@charset "utf-8";
@import "variables.scss";

html {
  height: 100%;
}
body {
  height: 100%;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body, button, input, optgroup, select, textarea {
  border: none;
}
button, button:focus, button:active, button:active, button:after, button::before, button:active:after, .button, .button-is-white {
  border: none!important;
  box-shadow: none!important;
}
body::-webkit-scrollbar {
  display: none;
}
:focus {
  outline: none;
  box-shadow: none;
}
button:focus,
a:focus{
  outline: 1px dotted $has-text-link!important;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.15em;
  width: 1.15em;
  border-radius: 30em;
  background-color: $darker-grey;
  -webkit-mask-image: url("../svg/times-circle.svg");
  mask-image: url("../svg/times-circle.svg");
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .8;
  pointer-events: all;
}

/*.control.has-icons-left .icon, .control.has-icons-right .icon {
    color: red!important;
}*/

/* ONBOARDING */
#noResultContainer.contentContainer {
  height: 80%;
}
.contentContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content:center;
  p {
    margin: .5em;
  }
  .fa-file-alt {
    font-size: 6em;
  }
  .title.is-1 {
    margin: .5em 0;
  }
  .subtitle {
    margin: .5em 0;
  }
  .btnOnboarding {
    font-size: 1em;
    margin: 0 1em;
    padding: .25em;
  }
  .btnOnboarding svg {
    font-size: 5em;
    margin: .25em 0;
  }
}
.contentContainer.is-active {
  display: flex;
}

/* Columns */

.columns {
  height: 100%;
  margin: 0!important;
  .column {
    position: relative;
  }
  .column.content {
    overflow-y: auto;
    overflow-x: hidden;
  }
  a#filterColumnClose {
    width: 2.5em;
    height: 2.5em;
    display: none;
    line-height: 2.5em;
    text-align: center;
    font-size: 1.25em;
    position: absolute;
    right: -0.75em;
    top: 50% - 2.5%;
    z-index: 30;
    background: $mid-grey;
    color: $darker-grey;
    border-radius: 50%;
    cursor: pointer;
  }
  a#filterColumnClose:focus {
    outline: 1px dotted $has-text-link;
  }
  nav:hover a#filterColumnClose.is-active {
    display: inline-block;
  }
}

/* Vertical menu */

nav {
  width: auto;
  height: 100%;
  float: left;
  background: $light-grey;
  ul {
    width: 5em;
    height: 100%;
    float: left;
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
    li a {
      width: 5em;
      height: 5em;
      display: block;
      color: $darker-grey;
    	cursor: pointer;
    	line-height: 5em;
    	text-align: center;
    	border-bottom: 1px solid rgba(0,0,0,0.05);
    }
    li a:focus {
      background: $mid-grey;
      outline-style: none;
    }
    li:hover,
    li.is-highlighted {
      background: $mid-grey;
    }
    li.btnAddTodo,
    li#navBtnFilter {
      display: none;
    }
    li.btnAddTodo.is-active,
    li#navBtnFilter.is-active {
      display: block;
    }
    li.logo {
      background: $darker-grey;
      color: #fff;
      font-size: 1em;
      font-weight: bold;
      line-height: 5em;
      text-align: center;
      cursor: default;
    }
  }
}

/* FILTER DROPDOWN */
#filterDropdown {
  display: none;
  width: 30em;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
  padding: 0 1.5em;
  background: $mid-grey;
  .dropdown-item {
    width: 100%;
    padding: 0;
    margin: 1.5em 0;
  }
  .dropdown-item a.headline {
    width: 100%;
    float: left;
    font-size: 1.35em;
    color: $darker-grey;
    font-weight: bold;
    margin-bottom: 1.5em;
  }
  /*.dropdown-item a.headline:focus {
    outline: 1px dotted $has-text-link!important;
  }*/
  #btnResetAllFilters {
    display: none;
  }
  #btnResetAllFilters.is-active {
    display: block;
  }
  .dropdown-item.is-greyed-out {
    opacity: .5;
  }
  .dropdown-item.is-greyed-out a  {
    background: $dark-grey!important;
    color: $darker-grey!important;
  }
  .dropdown-item.is-greyed-out span.tag  {
    background: $darker-grey!important;
    color: #ccc;
  }
  .dropdown-item.is-greyed-out a.headline,
  .dropdown-item.is-greyed-out a.headline a {
    background: none!important;
  }
  #todoFilters {
    width: 100%;
    margin: 0;
  }
}
#filterDropdown.is-active {
  display: block;
}
.filterDropdown {
  a.button {
    margin: 0 .5rem .5rem 0;
  }
  a.button span.tag {
    z-index: 35;
  }
  div.contexts {
    a.button  {
      background: $sleek-contexts-button;
      color: $sleek-contexts-button-font;
    }
    a.button:hover,
    a.button:active {
      background: $sleek-contexts-button-hover;
    }
    a.button:focus {
      outline: 1px dotted $sleek-contexts-button-bubble!important;
    }
    a.button span.tag {
      background: $sleek-contexts-button-bubble;
      color: #fff;
      font-weight: bold;
      position: absolute;
      right: -.75em;
      top: -.75em;
    }
    a.button.is-dark  {
      background: $sleek-contexts-button-highlighted;
      color: #fff;
    }
  }
  div.projects {
    a.button {
      background: $sleek-projects-button;
      color: $sleek-projects-button-font;
    }
    a.button:hover,
    a.button:active {
      background: $sleek-projects-button-hover;
    }
    a.button:focus {
      outline: 1px dotted $sleek-projects-button-bubble!important;
    }
    a.button span.tag {
      background: $sleek-projects-button-bubble;
      color: #fff;
      font-weight: bold;
      position: absolute;
      right: -.75em;
      top: -.75em;
    }
    a.button.is-dark {
      background: $sleek-projects-button-highlighted;
      color: #fff;
    }
  }
  /*.column {
    padding-left: 0;
  }*/
}

/* TABLE */
#todoTable {
  width: 100%;
  min-width: 45em;
  float: left;
  display: none;
  padding: 1.5em 3em;
  #selectionInformation {
    display: none;
    font-size: .8em;
    text-align: center;
    padding: .5em 0;
  }
  #selectionInformation.is-active {
    display: block;
  }
  #todoTableContainer {
    margin: 1em 0;
  }
  .flex-table {
    display: flex;
    flex-flow: row wrap;
    border-bottom: solid 1px $light-grey;
  }
  .flex-table#previousDataItem {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
  .flex-table#previousDataItem.is-highlighted {
    background-color: $light-grey;
  }
  .flex-table.priority {
    border: none;
    font-weight: bold;
    font-size: 1.5em;
  }
  .flex-table.completed {
    .checkbox a {
      color: $has-text-grey-light;
    }
    strong {
      color: $has-text-grey-light;
    }
    .flex-row.text {
      color: $has-text-grey-light;
    }
    .flex-row.text a {
      color: $has-text-grey-light;
    }
    .flex-row span.tag.projects {
      background: $has-text-grey-light;
      color: #fff;
    }
    .flex-row span.tag.contexts {
      background: $dark-grey;
      color: #fff;
    }
    .flex-row.itemDueDate.due {
      color: $dark-grey;
      .tags {
        .is-dark {
          background: $dark-grey;
        }
      }
    }
    .flex-row.itemDueDate {
      color: $dark-grey;
      .tags {
        .is-dark {
          background: $dark-grey;
        }
      }
      svg.fa-sort-down {
        color: $dark-grey;
      }
    }
  }
  .flex-table {
    .flex-row {
      padding: .75rem 0;
      margin-right: 1em;
      height: auto;
      line-height: 1.5em;
      .is-white {
        background: none;
      }
      span.tag {
        margin-right: .5em;
      }
      span.tag.projects {
        background: $sleek-projects-button;
        color: $sleek-projects-button-font;
      }
      span.tag.contexts {
        background: $sleek-contexts-button;
        color: $sleek-contexts-button-font;
      }
      .categories {
        padding: 0 0 0 .5em;
      }
    }
    .flex-row.checkbox a {
      font-size: 1.25em;
    }
    .flex-row.text {
      width: auto;
      max-width: 80%;
      cursor: pointer;
      margin-right: .5em;
      color: $darker-grey;
    }
    .flex-row.spacer {
      width: .5em;
      background: transparent;
    }
    .flex-row.priority {
      width: .5em;
      background: $dark-grey;
      opacity: .5;
    }
    .flex-row.priority.A {
      background: $has-text-danger;
    }
    .flex-row.priority.B {
      background: $has-text-warning;
    }
    .flex-row.priority.C {
      background: $has-text-success;
    }
    .flex-row.projects,
    .flex-row.contexts {
      margin-right: 0;
    }
    .flex-row.itemDueDate {
      display: inline;
      color: $darker-grey;
      position: relative;
      white-space: nowrap;
      margin: 0;
      padding: 1em .5em;
      text-align: center;
      svg.fa-sort-down {
        position: absolute;
        left: .7em;
        bottom: 2.55em;
        color: $darker-grey;
        display: none;
      }
      .tags {
        position: absolute;
        top: -1.4em;
        left: -3em;
        display: none;
        .tag {
          margin: 0;
        }
        .is-dark {
          background: $darker-grey;
          font-weight: bold;
        }
      }
    }
    .flex-row.itemDueDate.due {
      color: $has-text-danger;
      .tags .is-dark {
        background: $has-text-danger;
        font-weight: bold;
      }
      svg.fa-sort-down {
        color: inherit;
      }
    }
    .flex-row.itemDueDate:hover {
      .tags {
        display: block;
      }
      svg.fa-sort-down {
        display: block;
      }
    }
    .flex-row.todoTableItemMore {
      margin-left: auto;
    }
    .flex-row.todoTableItemMore a {
      color: $has-text-link;
      display: none;
      padding: 0 .5em;
    }
    .flex-row.todoTableItemMore.is-active .dropdown-menu .dropdown-item {
      padding: .75em;
    }
    .flex-row.todoTableItemMore.is-active a,
    .flex-row.todoTableItemMore.is-active .dropdown-menu {
      display: block;
    }
  }
  .flex-table:hover {
    .flex-row.todoTableItemMore a {
      display: block;
    }
  }
}
#todoTable.is-active {
  display: block;
}

/* https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.toggle {
  padding: 1.5em 1.5em 1.5em 0;
  margin: 0;
  line-height: 2em;
  .switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 31px;
    float: left;
    margin-right: .7em;
    .itemText {
      float: left;
    }
    input {
     opacity: 1;
     width: 56px;
     height: 31px;
     background: none;
    }
    input:checked + .slider {
     background-color: $darker-grey;
    }
    input:focus + .slider {
     box-shadow: 0 0 1px $darker-grey;
    }
    input:checked + .slider:before {
     -webkit-transform: translateX(25px);
     -ms-transform: translateX(25px);
     transform: translateX(25px);
    }
    input:focus {
      outline: 1px dotted $has-text-link;
    }
    .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: $dark-grey;
     -webkit-transition: .4s;
     transition: .4s;
    }
    .slider:before {
     position: absolute;
     content: "";
     height: 25px;
     width: 25px;
     left: 3px;
     bottom: 3px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
    }
    .slider.round {
     border-radius: 30px;
    }
    .slider.round:before {
     border-radius: 50%;
    }
  }
}

/* MODAL */

#modalForm {
  .message {
    display: none;
    margin: 1em 0;
  }
  .is-active {
    display: block;
  }
  .field {
    margin: .75em 0;
  }
  #btnItemStatus {
    display: none;
    text-align: center;
  }
  #btnItemStatus.is-active {
    display: block;
  }
  button {
    font-size: 1em;
    background: none;
    color: $has-text-link;
    border: none;
    border-right: 1px solid $mid-grey!important;
    cursor: pointer;
  }
  button:hover {
    color: black;
  }
  #suggestionDropdown {
    width: 100%;
    position: relative;
    .dropdown-trigger {
      width: inherit;
    }
    .dropdown-menu {
      position: static;
    }
  }
}

/* DATEPICKER */

.dueDate {
  svg {
    color: $has-text-link;
  }
  #dueDatePickerInput,
  #dueDatePickerInput::placeholder {
    width: 75%;
    font-size: 1em;
    color: #3273dc;
    box-shadow: none;
    cursor: pointer;
    background: none;
  }
}
.datepicker {
  z-index: 60;
  .datepicker-footer {
    background: none;
    .datepicker-controls .button  {
      font-size: 1em;
      background: none;
      border-color: transparent;
      color: $has-text-link;
    }
  }
}

/* LOADING INDICATOR */

#loadingIndicator {
  text-align: center;
  z-index: 70;
  .modal-background {
    background: #fff;
    opacity: .35;
  }
  p {
    margin: .5em 0;
  }
  svg,
  .fa-spinner {
    width: 2em;
    height: 2em;
  }
}

/* MEDIA QUERIES */

@media (max-width: 992px) {
  nav ul {
    width: 3.5em;
    height: 100%;
    li a {
      width: 3.5em;
      height: 3.5em;
    	line-height: 3.5em;
    }
    li.logo {
      width: 100%;
      height: 3.5em;
      line-height: 3.5em;
    }
  }
  .filterDropdown {
    width: 29em!important;
    padding: 0 1.5em!important;
  }
  #suggestionDropdown.filterDropdown {
    width: 100%!important;
    padding: 0!important;
  }
  #todoTable {
    padding: 1.5em;
  }
  .toggle {
    margin: 0!important;
    padding: 1.5em .5em 1em 0!important;
  }
}

@import "../css/datepicker-bulma.min.css";
@import "../../node_modules/bulma/bulma.sass";
