@charset "utf-8";
@import "variables.scss";
@font-face {
  font-family: "FreeSans";
  src: url("../fonts/FreeSans.otf") format("opentype");
  src: url("../fonts/FreeSans.ttf") format("truetype");
}
@font-face {
  font-family: "FreeSansBold";
  src: url("../fonts/FreeSansBold.otf") format("opentype");
  src: url("../fonts/FreeSansBold.ttf") format("truetype");
}
html {
  height: 100%;
}
body {
  font-family: "FreeSans";
  font-size: 2em;
  height: 100%;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body, button, input, optgroup, select, textarea {
  border: none;
}
button, button:focus, button:active, button:active, button:after, button::before, button:active:after, .button, .button-is-white {
  border: none!important;
  box-shadow: none!important;
}
.button.is-outlined {
  background: transparent;
  border: 1px solid $dark-grey!important;
  color: $darker-grey;
}
.button.is-outlined:hover {
  background: white;
  border: 1px solid $dark-grey!important;
  color: $darker-grey;
}
.button.is-link svg {
  color: white;
}
table,
.table {
  width: 100%;
  background: transparent!important;
  border-collapse:separate;
  margin-bottom: 2em!important;
}
table tr th {
  padding: 0 0 1em 0!important;
  font-size: 1.2em;
  font-family: "FreeSansBold";
  border: none!important;
  //border-top: solid 1px $dark-grey!important;
}
table tr td {
  vertical-align: top!important;
  border: none!important;
  //border-top: solid 1px $dark-grey!important;
  padding: .5em 2em .5em 0!important;
}
table.files tr td:first-child {
  width: 3em;
}
table.files tr td:last-child {
  cursor: pointer;
}
body::-webkit-scrollbar {
  display: none;
}
:focus,
:focus-visible {
  outline: none;
  box-shadow: none;
}
button:focus-visible,
a:focus-visible {
  outline: 2px solid $has-text-link!important;
}
p a {
  text-decoration: underline;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.15em;
  width: 1.15em;
  border-radius: 30em;
  background-color: $darker-grey;
  -webkit-mask-image: url("../svg/times-circle.svg");
  mask-image: url("../svg/times-circle.svg");
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}
input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .8;
  pointer-events: all;
}
input:focus,
select:focus,
input.is-focused,
input[type="search"]:focus,
textarea:focus,
textarea.is-focused,
textarea[type="search"]:focus {
  border: none;
  box-shadow: 0 0 0 2px $has-text-link!important;
  outline: none;
}
input,
input::placeholder,
select {
  width: auto;
  font-size: 1em;
  color: $has-text-link;
  box-shadow: none;
  background: transparent;
}
input[type=number] {
  text-align: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none!important;
}
.title,
strong {
  font-family: "FreeSansBold";
  font-weight: normal!important;
}
svg {
  color: $has-text-link;
}
code {
  background-color: transparent!important;
  color: inherit!important;
}
/* ONBOARDING */
#noResultContainer.contentContainer {
  height: 80%;
}
.contentContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content:center;
  p {
    margin: .5em;
  }
  .fa-file-alt {
    font-size: 6em;
  }
  .title.is-1 {
    font-family: "FreeSansBold";
    margin: .5em 0;
  }
  .subtitle {
    margin: .5em 0;
  }
  .btnOnboarding {
    font-size: 1em;
    margin: 0 1em;
    padding: .25em;
    text-decoration: none;
  }
  .btnOnboarding svg {
    font-size: 5em;
    margin: .25em 0;
  }
}
.contentContainer.is-active {
  display: flex;
}

/* Columns */

.columns {
  height: 100%;
  margin: 0!important;
  .column {
    position: relative;
    .is-right {
      float: right;
    }
  }
  .column.content {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

/* MAIN MENU */

nav {
  width: auto;
  height: 100%;
  float: left;
  position: relative;
  background: $light-grey;
  ul {
    width: 5em;
    height: 100%;
    float: left;
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
    li a {
      width: 5em;
      height: 5em;
      display: block;
      color: $darker-grey;
    	cursor: pointer;
    	line-height: 5em;
    	text-align: center;
    	border-bottom: 1px solid rgba(0,0,0,0.05);
      svg {
        color: inherit;
      }
    }
    li a:focus {
      background: $mid-grey;
      outline-style: none;
    }
    li:hover,
    li.is-highlighted {
      background: $mid-grey;
    }
    li#navBtnFilter {
      display: none;
    }
    li#navBtnFilter.is-active {
      display: block;
    }
    li.logo {
      background: $darker-grey;
      color: white;
      font-size: 1em;
      font-family: FreeSansBold;
      line-height: 5em;
      text-align: center;
      cursor: default;
    }
    li span.alert {
      position: absolute;
      top: 13%;
      right: 35%;
    }
  }
  ul:nth-child(2) {
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

#filterDrawer,
#suggestionContainer {
  div.contexts {
    a.button  {
      background: $sleek-contexts-button;
      color: $sleek-contexts-button-font;
    }
    a.button:hover,
    a.button:active {
      background: $sleek-contexts-button-hover;
    }
    a.button span.tag {
      background: $sleek-contexts-button-bubble;
      color: white;
      font-family: FreeSansBold;
      position: absolute;
      right: -.75em;
      top: -.75em;
    }
    a.button.is-dark  {
      background: $sleek-contexts-button-highlighted;
      color: white;
    }
  }
  div.projects {
    a.button {
      background: $sleek-projects-button;
      color: $sleek-projects-button-font;
    }
    a.button:hover,
    a.button:active {
      background: $sleek-projects-button-hover;
    }
    a.button span.tag {
      background: $sleek-projects-button-bubble;
      color: white;
      font-family: FreeSansBold;
      position: absolute;
      right: -.75em;
      top: -.75em;
    }
    a.button.is-dark {
      background: $sleek-projects-button-highlighted;
      color: white;
    }
  }
}

#drawerContainer {
  width: var(--resizeable-width);
  min-width: var(--min-width);
  max-width: var(--max-width);
  --resizeable-width: 34em;
  height: 100%;
  float: left;
  display: none;
  /* HANDLE FOR DRAGGING */
  /* https://spin.atomicobject.com/2019/11/21/creating-a-resizable-html-element/ */
  #handle {
    /*float: right;*/
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1em;
    background-color: transparent;
    z-index: 1;
  }
  #handle::after {
    content: "";
    width: 1em;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    cursor: ew-resize;
    z-index: 2;
  }
  a.drawerClose {
    width: 2.5em;
    height: 2.5em;
    display: none;
    line-height: 2.5em;
    text-align: center;
    font-size: 1.25em;
    position: absolute;
    right: -0.75em;
    top: 50% - 2.5%;
    z-index: 30;
    background: $mid-grey;
    border-radius: 50%;
    cursor: pointer;
    svg {
      color: $darker-grey;
    }
  }
}
#drawerContainer:hover {
  a.drawerClose {
    display: inline-block;
  }
}
#drawerContainer.is-active {
  display: block;
}
#zoomStatus {
  padding: 0 .55em;
}
#zoomUndo {
  cursor: pointer;
}
.drawer {
  width: 100%;
  height: 100%;
  float: left;
  display: none!important;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2em;
  background: $mid-grey;
  .dropdown-item {
    width: 100%;
    padding: 0;
    margin: 0 0 1.5em 0;
    a.headline {
      width: 100%;
      float: left;
      font-size: 1.35em;
      color: $darker-grey;
      font-family: FreeSansBold;
      margin-bottom: 1.5em;
    }
  }
  a.button {
    margin: 0 .5rem .5rem 0;
  }
  a.button span.tag {
    z-index: 35;
  }
  #btnResetAllFilters {
    display: none;
  }
  #btnResetAllFilters.is-active {
    display: block;
  }
  .dropdown-item.is-greyed-out {
    opacity: .5;
  }
  .dropdown-item.is-greyed-out a  {
    background: $dark-grey!important;
    color: $darker-grey!important;
  }
  .dropdown-item.is-greyed-out span.tag  {
    background: $darker-grey!important;
    color: #ccc;
  }
  .dropdown-item.is-greyed-out a.headline,
  .dropdown-item.is-greyed-out a.headline a {
    background: none!important;
  }
  /*#todoFilters {
    width: 100%;
    margin: 0;
  }*/
  .icon.is-left {
    position: absolute;
    top: .75em;
    left: .65em;
  }
  svg {
    color: $darker-grey;
  }
  /*select {
    padding-left: 2.5em!important;
  }*/
  /*.zoom {
    a {
      margin: 0 .2em;
      font-size: 1.6em;
    }
    #zoomStatus {
      padding: 0 .55em;
    }
    #zoomUndo {
      cursor: pointer;
    }
  }*/
  table tr td:nth-child(odd) {
    width: auto;
    //display: flex;
  }
  table tr td:nth-child(even) {
    width: 35%;
    text-align: center;
    padding-right: 0!important;
  }
}
.drawer.is-active {
  display: block!important;
}

/*#modalView {
  table tr {
    td:nth-child(odd) {
      width: 75%;
    }
    td:nth-child(even) {
      width: 25%;
      text-align: center
    }
  }
  .icon.is-left {
    position: absolute;
    top: .75em;
    left: .65em;
  }
  svg {
    color: $darker-grey;
  }
  select {
    padding-left: 2.5em;
  }
  .zoom {
    a {
      margin: 0 .2em;
      font-size: 1.6em;
    }

  }
}*/

/* SEARCH CONTAINER */
#todoTableSearchContainer {
  width: 100%;
  //float: left;
  //display: flex;
  padding: 0 1.5em;
  //box-sizing: border-box;
  background: white;
  position: sticky;
  top: 0;
  z-index: 45;
  .icon.is-left {
    top: .65em;
    left: .65em;
  }
  .icon.is-left svg,
  .icon.is-right svg {
    color: $darker-grey;
  }
  /*.column {
    float: left;
    padding: 0;
  }*/
  /*.column:first-child {
    flex: 1;
  }*/
  /* VIEW CONTAINER */


  /*#viewContainer {
    float: left;
    flex: 0 0 5.5em;
    padding: 0;
    margin: .2em 0 .2em .2em;
    .dropdown-content {
      min-width: 18em;
      display: none;
      padding: 1em 0;
      div.dropdown-item {
        clear: both;
        font-size: 1em!important;
        padding: 0 1em;
        .dropdown-divider {
          margin: 0.75em 0;
        }
      }
      .dropdown-item {
        .toggle {
          padding: 0;
          .text {
            white-space: nowrap;
          }
        }
        svg {
          color: $darker-grey;
        }
        .select,
        select {
          width: 100%;
        }
        select {
          padding-left: 2.5em;
        }
      }
      #viewBoxShowHidden {
        display: none;
      }
      #viewBoxShowHidden.is-active {
        display: block;
      }
    }
    #btnToggleViewContainer {
      padding-right: 0;
    }
  }
  /*#viewContainer.is-active {
    .dropdown-content {
      display: block;
      .dropdown-item.zoom {
        line-height: 2em;
        padding-top: 0;
        a {
          float: left;
          margin-right: .2em;
          font-size: 1.6em;
        }
        #zoomStatus {
          padding: 0 .55em;
        }
        #zoomUndo {
          cursor: pointer;
        }
      }
    }
  }*/
}

/* TABLE */
#todoTable {
  width: 100%;
  float: left;
  display: none;
  padding: 0 2.5em 1.5em 2.5em;
  #resultStats {
    width: 100%;
    display: none;
    /*font-size: .8em;*/
    text-align: center;
    padding: 0;
    white-space: nowrap;
  }
  #resultStats.is-active {
    display: block;
  }
  #todoTableContainer {
    width: 100%;
    float: left;
  }
  .flex-table {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    border-bottom: solid 1px $mid-grey;
  }
  .flex-table:last-child {
    border: none;
  }
  .flex-table#previousItem {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
  .flex-table#previousItem.is-highlighted {
    background-color: $light-grey;
  }
  .flex-table.itemGroup {
    border: none;
    font-family: FreeSansBold;
    font-size: 1.25em;
    svg {
      color: inherit;
    }
  }
  .flex-table {
    display: flex;
    .flex-row {
      padding: .75em 0;
      margin-right: 1em;
      height: auto;
      line-height: 1.5em;
      .is-white {
        background: none;
      }
      span.tag {
        margin-right: .25em;
      }
      span.tag.projects {
        background: $sleek-projects-button;
        color: $sleek-projects-button-font;
      }
      span.tag.contexts {
        background: $sleek-contexts-button;
        color: $sleek-contexts-button-font;
      }
      /*.categories {
        padding: 0 0 0 .5em;
      }*/
      .priority,
      .contexts,
      .projects {
        padding: 0 .35em;
        margin-right: .5em;
        background: $dark-grey;
        color: #5d5d5d;
        border-radius: 3px;
      }
    }
    .flex-row.checkbox a {
      flex: 0 0 1em;
      font-size: 1.25em;
    }
    .flex-row.text {
      width: auto;
      flex: 1;
      max-width: 88%;
      cursor: pointer;
      color: $darker-grey;
      svg {
        color: inherit;
      }
    }
    .flex-row.spacer {
      width: .5em;
      background: transparent;
    }
    .flex-row.priority {
      flex: 0 0 .5em;
      background: $dark-grey;
      opacity: .5;
    }
    .flex-row.priority.A,
    .flex-row .priority.A {
      color: #ffe6eb;
      background: $has-text-danger;
    }
    .flex-row.priority.B,
    .flex-row .priority.B {
      color: #fadcd8;
      background: $has-text-attention;
    }
    .flex-row.priority.C,
    .flex-row .priority.C {
      color: #fffdf5;
      background: $has-text-warning;
    }
    .flex-row .contexts {
      color: $sleek-contexts-button-font;
      background: $sleek-contexts-button;
    }
    .flex-row .projects {
      color: $sleek-projects-button-font;
      background: $sleek-projects-button;
    }
    .flex-row.projects,
    .flex-row.contexts {
      margin-right: 0;
    }
    .flex-row.itemDueDate {
      display: inline;
      color: $darker-grey;
      position: relative;
      white-space: nowrap;
      margin: 0 .25em;
      padding: 1em 0;
      text-align: center;
      text-transform: lowercase;
      svg.fa-sort-down {
        position: absolute;
        right: .265em;
        bottom: 2.75em;
        display: none;
      }
      .tags {
        position: absolute;
        top: -1.4em;
        right: -1.5em;
        display: none;
        .tag {
          margin: 0;
        }
        .is-dark {
          background: $darker-grey;
          font-family: FreeSansBold;
        }
      }
    }
    .flex-row.isToday {
      color: $has-text-danger;
      .tags .is-dark {
        background: $has-text-danger;
        font-family: FreeSansBold;
      }
      svg {
        color: inherit;
      }
    }
    .flex-row.isTomorrow {
      color: $has-text-attention;
      .tags .is-dark {
        background: $has-text-attention;
        font-family: FreeSansBold;
      }
      svg {
        color: $has-text-attention;
      }
    }
    .flex-row.isPast {
      color: $has-text-danger;
      .tags .is-dark {
        background: $has-text-danger;
        font-family: FreeSansBold;
      }
      svg {
        color: inherit;
      }
    }
    .flex-row:hover,
    .flex-row:focus {
      .tags {
        display: block;
      }
      svg.fa-sort-down {
        display: block;
      }
    }
    .flex-row.todoTableItemMore {
      //margin-left: auto;
      position: absolute;
      right: 0;
      top: 0;
    }
    .flex-row.todoTableItemMore a {
      color: $has-text-link;
      display: none;
      padding: 0 .5em;
    }
    .flex-row.todoTableItemMore.is-active .dropdown-menu .dropdown-item {
      padding: .75em;
    }
    .flex-row.todoTableItemMore.is-active a,
    .flex-row.todoTableItemMore.is-active .dropdown-menu {
      display: block;
    }
  }
  .flex-table:hover {
    .flex-row.todoTableItemMore a {
      display: block;
    }
  }
  .flex-table.completed {
    color: $has-text-grey-light;
    .checkbox a {
      color: $has-text-grey-light;
      svg {
        color: inherit;
      }
    }
    strong {
      font-family: "FreeSansBold";
      color: $has-text-grey-light;
    }
    .flex-row.text {
      color: $has-text-grey-light;
      a {
        color: $has-text-grey-light;
      }
    }
    .flex-row span.tag.projects {
      background: $has-text-grey-light;
      color: white;
    }
    .flex-row span.tag.contexts {
      background: $dark-grey;
      color: white;
    }
    .flex-row {
      color: $dark-grey;
      .tags {
        .is-dark {
          background: $dark-grey;
        }
      }
      svg {
        color: inherit;
      }
      .priority {
        color: white;
        background: $has-text-grey-light;
      }
    }
  }
}
#todoTable.is-active {
  display: block;
}

/* https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.toggle {
  //padding: .5em 1.5em .5em 0;
  margin: 0;
  //line-height: 2em;
  text-align: center;
  .switch {
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 1.93em;
    //float: left;
    //margin-right: .7em;
    .itemText {
      float: left;
    }
    input {
     opacity: 1;
     width: 3.5em;
     height: 1.9375em;
     background: none;
    }
    input:checked + .slider {
     background-color: $darker-grey;
    }
    input:focus + .slider {
     box-shadow: 0 0 1px $darker-grey;
    }
    input:focus-visible {
      outline: 2px solid $has-text-link;
    }
    input:checked + .slider:before {
     -webkit-transform: translateX(1.5625em);
     -ms-transform: translateX(1.5625em);
     transform: translateX(1.5625em);
     //background: white url("../svg/check.svg") no-repeat 50% 50%;
     //background-size: 75% 75%;
    }
    .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: $dark-grey;
     -webkit-transition: .4s;
     transition: .4s;
    }
    .slider:before {
     position: absolute;
     content: "";
     height: 1.5625em;
     width: 1.5625em;
     left: 0.1875em;
     bottom: 0.1875em;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
    }
    .slider.round {
     border-radius: 1.875em;
    }
    .slider.round:before {
     border-radius: 50%;
    }
  }
}

/* MODAL */

#modalForm {
  textarea#modalFormInput {
    min-height: 5.5em;
    overflow: hidden;
    resize: none;
  }
  #modalFormInputHelp,
  #modalFormInputResize {
    z-index: 60;
    cursor: pointer;
    pointer-events: all;
  }
  .card-header-title {
    font-family: "FreeSansBold";
  }
  .message {
    display: none;
    margin: 1em 0;
  }
  .is-active {
    display: block;
  }
  .field {
    width: auto;
    float: left;
    margin: .5em .5em .5em 0;
    //padding: 0;
    input,
    input::placeholder,
    select,
    select::placeholder {
      background: none!important;
      border: none;
      color: $has-text-link!important;
    }
    //.select:not(.is-multiple):not(.is-loading)::after
  }
  ::after {
    //display: none;
    //left: 1.125em;
  }
  /*.field.dueDate,
  .field#recurrencePicker {
    padding: .5em 0 0 0;
  }*/
  #btnItemStatus {
    display: none;
    text-align: center;
  }
  #btnItemStatus.is-active {
    display: block;
  }
  button {
    font-size: 1em;
    background: none;
    color: $has-text-link;
    border: none;
    border-right: 1px solid $mid-grey!important;
    cursor: pointer;
  }
  button:hover {
    color: black;
  }
  .card-footer {
    clear: both;
  }
}
#suggestionContainer {
  height: auto;
  position: absolute;
  display: none;
  z-index: 50;
  opacity: .90;
  background: $body-background-color;
  padding: .5em 1em;
  .dropdown-item {
    margin: 0;
  }
  h4.title {
    font-size: 1.3em;
    margin: .7em 0;
  }
}
#suggestionContainer.card {
  height: auto;
  overflow: auto;
}
#suggestionContainer.is-active {
  display: block;
}

/* MODAL HELP */

.modal.content {
  z-index: 55;
  justify-content: start!important;
  padding-top: 2.5em;
  margin: 0!important;
  .title.is-4 {
    font-size: 1.2em;
    margin:1em 0 0.5em 0;
  }
  p {
    display: block;
    margin: 1em 0;
  }
  img {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  ul {
    margin-left: 0;
    border: none;
  }
  .is-large.delete,
  .is-large.modal-close {
    background: $has-text-link!important;
    color: $has-text-link!important;
    z-index: 60;
    position: absolute!important;
  }
  .modal-card {
    width: 900px!important;
    height: auto;
    z-index: 60;
    background: $mid-grey;
    padding: 1em 2em;
    border-radius: 0.25rem;
  }
  .modal-background {
    z-index: 55;
  }
  .modal-card-body {
    background: none;
    display: none;
    ul {

    }
    ul li a {
      text-decoration: underline;
    }
    /*table a {
      text-decoration: underline;
    }*/
    table.settings tr td {
      position: relative;
      .toggle,
      .field {
        .select,
        select {
          width: 100%;
          padding-right: 0;
        }
      }
      .alert {
        position: absolute;
        top: 1em;
        left: -.8em;
      }
    }
    table.settings tr td:first-child {
      width: 85%;
      padding-right: 3em;
    }
    table.shortcuts td {
      .tag {
        font-size: 1em!important;
      }
    }
    table.shortcuts tr:last-child {
      border: none;
    }
  }
  .modal-card-body.is-active {
    display: block;
  }
  .arrow {
    text-align:center;
    margin: 1em 0;
  }
  .card {
    display: block; margin: 0 auto;
  }
  .tabs {
    display: block;
    height: 4em;
    margin-bottom: 0;
  }
  .tabs li a {
    border-width: 2px;
    margin-bottom: 0;
  }
  /*.toggle {
    padding: 1em 0;
  }*/
}

/* DATEPICKER */
#dueDatePickerInput {
  cursor: pointer;
}
.dueDate {
  svg {
    color: $has-text-link;
  }
}
.datepicker {
  z-index: 60;
  .datepicker-cell.today.focused:not(.selected),
  .datepicker-cell.today:not(.selected) {
    background: $light-grey!important;
  }
  .datepicker-footer {
    background: none;
    .datepicker-controls .button  {
      font-size: 1em;
      background: none;
      border-color: transparent;
      color: $has-text-link;
    }
  }
}

/* RECURRANCE PICKER */
#recurrencePicker {
  position: relative;
  //display: none;
  #recurrencePickerInput {
    cursor: pointer;
  }
  .card {
    width: auto;
    display: none;
    position: fixed;
    .content {
      margin: 0;
      padding: 1em;
      display: flex;
      align-items: center;
      div {
        width: auto;
        float: left;
        text-align: center;
        padding: 0 .5em;
      }
      div.options {
        width: 8em;
        text-align: left;
      }
      #recurrencePickerDecrease,
      #recurrencePickerIncrease,
      #recurrencePickerSpinner {
        font-size: 1.25em;
        padding: .5em;
      }
      #recurrencePickerSpinner {
        width: 2em;
      }
    }
    label {
      width: 100%;
      padding: 0;
      margin: .25em 0;
    }
  }
  .card.is-active {
    display: block;
  }
}
#recurrencePicker.is-active {
  display: block;
}
.messages {
  width: 25em;
  position: fixed;
  right: 2em;
  bottom: 1em;
  z-index: 40;
  .message {
    display: none;
  }
  .message.is-active {
    display: block;
    .message-body .brands svg {
      font-size: 2.25em;
      margin-right: .2em;
    }
  }
  .button {
    margin-top: .5em;
  }
  .message-body p {
    margin-bottom: .5em;
  }
}

/* COMPACT VIEW */
body.compact {
  #todoTableSearchContainer {
    padding: 1em;
    .column {
      padding: 0;
      .icon.is-left {
        top: 0;
        left: 0;
      }
    }
  }
  #todoTable {
    padding: 0 1em 1em 1em;
    .flex-table {
      .flex-row {
        padding: .25em 0;
      }
      .flex-row.itemDueDate {
        .tags {
          top: -1.9em;
          right: -1.9em;
        }
        svg.fa-sort-down {
          right: .225em;
          bottom: 1.75em;
        }
      }
    }
  }
  .modal.content {
    .modal-card {
      width: 90%!important;
      padding: .5em;
    }
  }
  nav ul {
    width: 3.5em;
    li a {
      width: 3.5em;
      height: 3.5em;
      line-height: 3.5em;
    }
    li.logo {
      width: 100%;
      height: 3.5em;
      line-height: 3.5em;
      font-family: "FreeSansBold";
    }
  }
  .drawer {
    padding: 1.5em!important;
    /*.toggle {
      margin: 0!important;
      padding: 1.5em .5em 1em 0!important;
    }*/
  }
  #suggestionContainer.drawer {
    padding: 0!important;
  }
}

/* MEDIA QUERIES */

@media (max-width: 992px) {
  .modal.content {
    .modal-card {
      width: 90%!important;
      padding: .5em;
    }
  }
  nav ul {
    width: 3.5em;
    li a {
      width: 3.5em;
      height: 3.5em;
    	line-height: 3.5em;
    }
    li.logo {
      width: 100%;
      height: 3.5em;
      line-height: 3.5em;
      font-family: "FreeSansBold";
    }
  }
  #suggestionContainer.drawer {
    padding: 0!important;
  }
  #todoTable {
    padding: 0 1em 1em 1em;
  }
  #todoTableSearchContainer {
    padding: 1em;
    .column {
      padding: 0;
      .icon.is-left {
        top: 0;
        left: 0;
      }
    }
  }
}
@media (max-width: 768px) {
  .modal.content .modal-card .card.is-centered {
    width: 100%!important;
  }
  #todoTable .flex-table .flex-row.text {
    max-width: 85%;
  }
}

@import "../css/datepicker.css";
@import "../../node_modules/bulma/bulma.sass";
