@charset "utf-8";
@import "variables.scss";
@import "dark.scss";
@font-face {
  font-family: "FreeSans";
  src: url("../fonts/FreeSans.otf") format("opentype");
  src: url("../fonts/FreeSans.ttf") format("truetype");
}
@font-face {
  font-family: "FreeSansBold";
  src: url("../fonts/FreeSansBold.otf") format("opentype");
  src: url("../fonts/FreeSansBold.ttf") format("truetype");
}
html {
  height: 100%;
}
body {
  font-size: 16px;
  height: 100%;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  color: $has-text-link;
}
a:hover,
a:active,
a:focus {
  color: $dark-grey;
  box-shadow: none;
}

:focus,
:focus-visible {
  box-shadow: none;
  outline: none;
}

//  ####################################
//  GENERIC
//  ####################################

.is-hidden {
  display: none!important;
}

.is-greyed-out {
  filter: opacity(75%) grayscale(100%);
}

.button.is-greyed-out {
  cursor: not-allowed;
  pointer-events: all;
}

.card {
  box-shadow: 0 0 1em $mid-grey;
}

.card-footer {
  clear: both;
  .card-footer-item,
  .card-footer-item:focus {
    border-radius: 0;
    background-color: transparent;
    color: $has-text-link;
  }
  .card-footer-item:hover {
    color: $dark-grey;
  }
  .card-footer-item:first-child {
    border-bottom-left-radius: $radius;
  }
  .card-footer-item:last-child {
    border-right: none;
    border-bottom-right-radius: $radius;
  }
  .card-footer-item:focus-visible {
    color: $dark-grey;
    background-color: $almost-white;
  }
}

//  ####################################
//  BUTTONS
//  ####################################

button {
  font-size: 1em;
  color: $has-text-link;
  background-color: white;
  border: none;
  border-radius: $radius;
  outline: none;
  box-shadow: 0;
  padding: 0.55em 0.75em;
  cursor: pointer;
  i {
    color: inherit;
  }
}
button:focus-visible {
  color: white;
  background-color: $has-text-link;
  i {
    color: inherit;
  }
}
button:disabled,
button.is-greyed-out {
  cursor: not-allowed;
  filter: grayscale(100%);
  opacity: 0.4;
}

//  ####################################
//  TABLE
//  ####################################

table {
  width: 100%;
  border-collapse: separate;
  tbody tr {
    th {
      padding: .1em 0 ;
      font-size: 1.2em;
      font-family: "FreeSansBold";
    }
    td {
      border: none;
      padding: .5em 2em .5em 0 ;
    }
  }
}
table.files {
  margin: 0 0 1em 0;
  tr {
    td {
      vertical-align: middle;
      button:disabled, button.is-greyed-out {
        opacity: 0.2;
      }
    }
    td:first-child {
      width: 3em;
      text-align: center;
    }
    td:last-child {
      a {
        font-size: 1.2em;
        padding: 0.5em;
        color: $has-text-link;
        cursor: pointer;
      }
      a:focus-visible {
        color: $darker-grey;
      }
    }
  }
}

//  ####################################
//  TEXT
//  ####################################

.title,
strong {
  font-family: "FreeSansBold";
  font-weight: normal ;
}
/*code, pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  background: $mid-grey;
  color: $dark-grey;
  border-radius: $radius;
}*/

//  ####################################
//TODO
//  ####################################

#noResultContainer {
  height: 80%;
}

.contentContainer.is-active {
  display: flex;
}
#messageGenericContainer {
  display: none;
  p {
    margin: .1em 0;
  }
  i {
    color: white;
  }
}

#datePickerInput, #thresholdPickerInput {
  cursor: pointer;
}

//  ####################################
//  MAIN CONTAINERS
//  ####################################

.contentContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  p {
    margin: .5em;
  }
  .fa-file-alt {
    font-size: 6em;
  }
  .title.is-3 {
    font-family: "FreeSansBold";
    margin: .5em 0;
  }
  .subtitle {
    margin: .5em 0;
  }
  .modalFileDrop {
    width: 75%;
    height: auto;
    margin: 0 auto;
  }
}
.contentContainer.is-active {
  display: flex;
}

/*.btnOnboarding {
  font-size: 1em;
  margin: 0 1em;
  padding: .25em;
  text-decoration: none;
}
.btnOnboarding i {
  font-size: 5em;
  margin: .25em 0;
}*/

//  ####################################
//  BASIC FRAME
//  ####################################

.columns {
  height: 100%;
  margin: 0 ;
  .column {
    position: relative;
    .is-right {
      float: right;
    }
  }
  #todoTableWrapper {
    overflow-y: auto;
    overflow-x: hidden;
    header {
      width: 100%;
      min-width: 30em;
      float: left;
      position: sticky;
      top: 0;
      z-index: 45;
      background: white;
    }
  }
}

//  ####################################
//  BASIC FRAME
//  ####################################

.modalFileDrop {
  width: 100%;
  height: 100%;
  border: 2px dashed $mid-grey;
  border-radius: $radius;
  padding: 2em;
  margin: 0;

  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 0 1em;

  text-align: center;

  color: $mid-grey;
  a {
    color: $mid-grey;
  }

  button {
    background-color: $has-text-link;
    color: white;
  }

  .modalChangeFileAdd {
    display: block;
    margin: 1em 0;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }

  .btnFilesAddTodoFile i {
    font-size: 5em;
  }

}
.modalFileDrop.is-highlighted {
  border-color: $has-text-link;
  color: $has-text-link;
  a {
    border-color: inherit;
    color: inherit;
  }
}

//  ####################################
//  IMPORT MODULES
//  ####################################
@import "../../node_modules/bulma/bulma.sass";
@import "tabs.scss";
@import "navigation.scss";
@import "search.scss";
@import "compact.scss";
@import "filterButtons.scss";
@import "drawer.scss";
@import "input.scss";
@import "modal.scss";
@import "messages.scss";
@import "recurrencePicker.scss";
@import "todoTable.scss";
@import "todoContext.scss";
@import "toggle.scss";
@import "datepicker.scss";
@media print {
  @import "print.scss";
}
