#todoContext {
  display: none;
  position: fixed;
  z-index: 50;
  border-radius: $radius;
  box-shadow: 0 0 1em $mid-grey;
  a, label {
    font-size: 0.9em;
    color: $has-text-link;
    padding: 0.75em 1.5em;
  }
  .dropdown-item {
    
  }
  .dropdown-item:first-child {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
  .dropdown-item:last-child {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: $almost-white;
  }
  .card-content {
    padding: 0;

    .horizontal {
      display: flex;
      text-align: center;
      border-bottom: 1px solid $almost-white;
      label {
        color: $dark-grey;
      }
      .dropdown-item {
        border-radius: 0;
        border: none;
      }
    }
  }
}
#todoContext.is-active {
  display: block;
}