//  ####################################
//  TABLE WRAPPER
//  ####################################

#todoTableWrapper::-webkit-scrollbar {
  background-color: transparent;
  width: .8em
}
#todoTableWrapper::-webkit-scrollbar-thumb:window-inactive,
#todoTableWrapper::-webkit-scrollbar-thumb {
  background: $mid-grey;
  border-radius: 5px;
}

//  ####################################
//  RESULT COUNTER
//  ####################################

#resultStats {
  width: 100%;
  display: none;
  text-align: center;
  white-space: nowrap;
  .tag {
    background: transparent;
    position: relative;
    top: -1px;
  }
}

//  ####################################
//  TABLE
//  ####################################

#todoTable {
  width: 100%;
  min-width: 30em;
  float: left;
  display: none;
  padding: 0 2.5em 1.5em 2.5em;
  .todo {
    width: 100%;
    position: relative;
    display: flex;
    border-bottom: solid 1px $light-grey;
  }
  .todo:last-child {
    border: none;
  }
  .todo:focus {
    background: lighten($has-text-link, 40%);
  }
  .todo.completed {
    .cell {
      filter: opacity(50%) grayscale(100%);
    }
    .cell.priority {
      background: $has-text-link;
    }
  }

  /********************/
  /*** SINGLE CELLS ***/
  /********************/

  .cell {
    line-height: 1.7em;
    padding: .75em 0;
    margin: 0 1em 0 0;
    height: auto;
    a.tag {
      text-decoration: none;
      margin: 0;
    }
  }
  .cell.priority {
    width: 0.35em;
    background: $mid-grey;
    color: darken($mid-grey, 40%);
    opacity: 0.5;
    flex-shrink: 0;
  }
  .cell.categories {
    a.button {
      height: 2em;
    }
    /*.tag {
      margin-left: .25em;
    }*/
  }
  .cell.checkbox {
    flex-shrink: 0;
    i {
      font-size: 1.25em;
      color: $has-text-link;
      margin: 0.2em 0 0 0;
    }
    i:hover {
      color: $almost-black;
    }
  }
  .cell.text {
    width: auto;
    cursor: pointer;
    color: $dark-grey;
    display: flex;
    .priority {
      align-self: flex-start;
    }
    /*a {
      font-size: 1.1em;
      font-family: FreeSansBold;
      height: auto;
      padding: 0.15em 0.5em;
    }*/
    span.linkText {
      color: $has-text-link;
    }
    a.button.priority {
      font-size: 0.9em;
      margin-right: 0.5em;
    }
    code, pre {
      font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
      background: $mid-grey;
      color: $dark-grey;
      border-radius: $radius;
    }
  }
  .cell.hint {
    color: $dark-grey;
    position: relative;
    white-space: nowrap;
    text-transform: lowercase;
    cursor: pointer;
    .fa-sort-down {
      position: absolute;
      right: 0.2em;
      top: -0.5em;
      display: none;
    }
    .tags {
      position: absolute;
      top: -1.6em;
      right: -1.5em;
      z-index: 50;
      display: none;
      .tag {
        margin: 0;
      }
      .is-dark {
        background: $dark-grey;
        font-family: FreeSansBold;
      }
    }
  }

  .cell:hover,
  .cell:focus {
    .tags {
      display: block;
    }
    i.fa-sort-down {
      display: block;
    }
  }
  
  /********************/
  /*** COLORING ***/
  /********************/

  a.button.today,
  .cell.today {
    color: $has-text-danger;
    .tags .is-dark {
      background: $has-text-danger;
      font-family: FreeSansBold;
    }
  }
  a.button.tomorrow,
  .cell.tomorrow {
    color: $has-text-attention ;
    .tags .is-dark {
      background: $has-text-attention;
      font-family: FreeSansBold;
    }
  }
  a.button.past,
  .cell.past {
    color: $has-text-danger;
    .tags .is-dark {
      background: $has-text-danger;
      font-family: FreeSansBold;
    }
  }

  /********************/
  /*** GROUP HEADER ***/
  /********************/

  .group {
    font-family: FreeSansBold;
    font-size: 1.2em;
    min-height: 1em;
    margin-top: 1.5em 0 0.5em 0;
    border: none;
    a.button {
      font-family: inherit;
      height: auto;
      line-height: auto;
      padding: 0;
      cursor: default;
      text-align: left;
    }
    .cell {
      margin-top: 1em;
      padding: 0;
    }
  }
  .group.past a.button {
    color: $has-text-danger;
  }
  .group.priority {
    a {
      font-size: 1.1em;
      padding: 0.15em 0.5em;
    }
    .cell {
      margin-bottom: 0.5em;
    }
  }
  .group.projects,
  .group.contexts {
    a.button {
      padding: 0 0.5em;
    }
  }
}
#todoTable.is-active {
  display: block;
}
