@charset "utf-8";
$has-text-grey-light: hsl(0, 0%, 71%);
$has-text-link: hsl(217, 71%, 53%);

$almost-white: #f5f5f5;
$lighter-grey: #CCCDCF;
$light-grey: #ebebeb;
$mid-grey: #ccc;
$dark-grey: #4a4a4a;
$darker-grey: #2d2d2d;
$even-darker-grey: #3B3B3B;
$almost-black: #212224;

$has-text-danger: hsl(348, 100%, 61%);
$has-text-warning: hsl(48, 100%, 67%);
$has-text-success: hsl(141, 71%, 48%);
$has-text-attention: #fa745e;

$sleek-contexts-button: #c5ede3;
$sleek-projects-button: #f1d6f1;

$modal-background-background-color: rgba(0, 0, 0, 0.25);
$modal-z: 50;
$family-sans-serif: "FreeSans", Helvetica, Arial, "Noto Sans", "DejaVu Sans",  sans-serif;

$modal-content-width: 900px;
