$has-text-grey-light: hsl(0, 0%, 71%);
$light-grey: #f5f5f5;
$mid-grey: #ebebeb;
$dark-grey: #ccc;
$darker-grey: #4a4a4a;

$has-text-link: hsl(217, 71%, 53%);

$has-text-danger: hsl(348, 100%, 61%);
$has-text-warning: hsl(48, 100%, 67%);
$has-text-success: hsl(141, 71%, 48%);

$sleek-contexts-button: #c5ede3;
$sleek-contexts-button-font: #075943;
$sleek-contexts-button-hover: #c9f2e8;
$sleek-contexts-button-bubble: #1aa37e;
$sleek-contexts-button-highlighted: #075943;

$sleek-projects-button: #f1d6f1;
$sleek-projects-button-font: #5f1a5e;
$sleek-projects-button-hover: #f7dcf7;
$sleek-projects-button-bubble: #bc30ba;
$sleek-projects-button-highlighted: #5f1a5e;

$body-background-color: white;
$modal-background-background-color: rgba(0, 0, 0, 0.15);
$modal-z: 50;
$family-sans-serif: "FreeSans", Helvetica, Arial, "Noto Sans", "DejaVu Sans",  sans-serif;

 $modal-content-width: 768px;
