@import "../Variables.scss";

#TodoDialog {
  .MuiDialog-paper {
    max-width: 50em;
    position: relative;
  }
  .MuiDialogContent-root {
    display: flex;
    gap: 0.625em;
    flex-wrap: wrap;
    .input {
      width: 100%;
      textarea {
        font-size: 1.25em;
        width: 100%;
      }
    }
    .react-autosuggest__container {
      width: 100%;
      flex-grow: 1;
    }
  }
}

.MuiDialogActions-root {
  button {
    width: 100%;
    background: none;
    border-radius: 0;
    margin: 0!important;
    padding: 0.5em 1em;
    color: $blue;
    border-top: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
    &:last-child {
      border-right: none;
    }
  }
}