[Desktop Entry]
Name=sleek
Exec=sleek %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
StartupWMClass=sleek
Comment=todo.txt manager for Linux, free and open-source (FOSS)
Categories=ProjectManagement
