[Desktop Entry]
Name=sleek
Exec=sleek %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
StartupWMClass=sleek
Comment=sleek is a todo app based on todo.txt, free and open-source
Categories=ProjectManagement
