@use 'Variables.scss';

button {	
	font-size: 1em;
	border: none;
	border-radius: Variables.$radius;
	padding: 0.6em 0.7em;
	cursor: pointer;
	background: Variables.$blue;
	color: white;
}

li {
	[data-todotxt-attribute='due'],
	[data-todotxt-attribute='t'] {
		button {
			padding: 0 0.5em 0 0;
			margin: 0 0.5em;
		}
	  div {
	  	display: flex;
	  	align-items: center;
	  	height: 100%;
	  	padding: 0.25em 0;
	  }
	}
}

.row {
	button {
		padding: 0.25em 0.5em;
	}
  &.group {
		button {
	    font-size: 1.25em;
	    font-weight: bold;
	  }
  }
}

.filter {
	position: relative;
	button {
		svg, img {
		  width: 1em;
		}
		.MuiChip-root {
		  font-size: 1em;
		  width: auto;
		  border-radius: Variables.$radius 0 0 Variables.$radius;
		  margin-left: -0.5em;
		  margin-right: 0.5em;
		  .MuiChip-label {
		    font-size: 1em;
		    padding: 0 0.5em;
		    margin: 0;
		  }
		}
		&.pomodoro {
			display: flex;
			img {
				margin: 0 0.25em
			}
		}
		&:disabled {
			color: Variables.$dark-grey;
			background: Variables.$mid-grey;
			filter: opacity(50%) grayscale(100%);
		}
	}
  .overlay {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: Variables.$radius;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    svg {
      font-size: 1.25em;
    }
  }
	.MuiBadge-badge {
		min-width: 1.5em;
		height: 1.5em;
		padding: 0.25em;
		z-index: 10;
		font-weight: bold;
		cursor: pointer;
		svg {
			margin-top: 0.15em;
			font-size: inherit;
		}		
	}
	&.excluded {
      .overlay {
        display: flex;
        color: Variables.$darker-grey;
      }
    }
}
.MuiBadge-badge.MuiBadge-dot {
	min-width: auto;
	width: 0.6em;
	height: 0.6em;
	border-radius: 50%;
}
.group [data-todotxt-attribute='priority'],
#Attributes [data-todotxt-attribute='priority'] {
	button {
		min-width: 2em;
		height: 2em;
		line-height: 2em;
		font-size: 1.25em;
		font-weight: bold;
		padding: 0;
	}
}

.darkTheme {
    .filter {
      button:disabled {
        color: Variables.$mid-grey;
        background: Variables.$dark-grey;
      }
      .overlay {
        background: rgba(0, 0, 0, 0.35);
      }
    }
}