@import "Variables.scss";

*[data-todotxt-attribute] {
  --color1: #5a5a5a;
  --color2: #ccc;
  span {
    border-radius: $radius;
  }
  .overlay {
    svg {
      color: var(--color1);
    }
  }
  button,
  button:hover {
    color: var(--color1);
    background: var(--color2);
    &:focus-visible {
      outline-color: var(--color1);
    }
  }
  .MuiBadge-badge {
    border-radius: 1em;
    color: var(--color2);
    background: var(--color1);
    
  }
  &.selected {
    button {
      color: white;
      background: var(--color1);
    }
  }
  &.selected.excluded {
    button {
      color: var(--color1);
      background: var(--color2);
    }
  }
}

*[data-todotxt-attribute="priority"] {
  --color1: white;
  button {
    &.Mui-disabled {
      color: white;
    }
  }
  &.selected {
    button {
      color: white;
      background: #5a5a5a;
    }
  }  
  .overlay {
    svg {
      color: var(--color2);
    }
  }
}

*[data-todotxt-attribute="priority"][data-todotxt-value="A"] {
  --color2: #FF3860;
  border-left-color: var(--color2);
  &.selected {
    button {
      background: darken(#FF3860, 25%);
    }
  }
}

*[data-todotxt-attribute="priority"][data-todotxt-value="B"] {
  --color2: #fa745e;
  border-left-color: var(--color2);
  &.selected {
    button {
      background: darken(#fa745e, 25%);
    }
  }  
}

*[data-todotxt-attribute="priority"][data-todotxt-value="C"] {
  --color2: #FFDD57;
  border-left-color: var(--color2);
  &.selected {
    button {
      background: darken(#FFDD57, 25%);
    }
  }  
}

*[data-todotxt-attribute^="pm"] {
  --color1: white;
  --color2: #FF3860;
  button {
    &.Mui-disabled {
      color: white;
    }
  }
  .overlay {
    svg {
      color: var(--color2);
    }
  } 
  &.selected {
    button {
      background: darken(#FF3860, 25%);
    }
  } 
}

*[data-todotxt-attribute="projects"] {
  --color1: #6f266f;
  --color2: #f1d6f1;
}

*[data-todotxt-attribute="contexts"] {
  --color1: #1e6251;
  --color2: #c5ede3;
}

.darkTheme {

  *[data-todotxt-attribute]:not([data-todotxt-attribute="priority"], [data-todotxt-attribute="projects"], [data-todotxt-attribute="contexts"], [data-todotxt-attribute="pm"]) {
    --color1: #f0f0f0;
    --color2: #5a5a5a;
    &.selected {
      button {
        background: darken(#5a5a5a, 10%);
      }
    }
  }
  *[data-todotxt-attribute="contexts"] {
    --color1: #c5ede3;
    --color2: #1e6251;
    &.selected {
      button {
        background: darken(#1e6251, 10%);
      }
    }
  }
  *[data-todotxt-attribute="projects"] {
    --color1: #f1d6f1;
    --color2: #6f266f;
    &.selected {
      button {
        background: darken(#6f266f, 10%);
      }
    }
  }

}