@use 'sass:color';
@use 'Variables.scss';

button:not(.MuiIconButton-root):not(.MuiTab-root):not(.MuiAccordionSummary-root),
button:hover:not(.MuiIconButton-root) {
  &:focus-visible {
    outline: 0.1em solid Variables.$dark-grey;
  }
}

*[data-todotxt-attribute] {
  --color1: #5a5a5a;
  --color2: #ccc;
  .overlay {
    svg {
      color: var(--color1);
    }
  }

  .MuiBadge-root {
    &.notify {
      .MuiBadge-badge {
        color: white;
        background: #ff3860;
      }
    }
  }

  button,
  button:hover {
    color: var(--color1);
    background: var(--color2);
    &:focus-visible {
      outline-color: var(--color1);
    }
    .MuiChip-root {
      color: white;
      background: var(--color1);
    }
  }
  .MuiBadge-badge {
    color: var(--color2);
    background: var(--color1);
  }
  .MuiBadge-dot {
    background: #ff3860;
  }
  &.selected {
    button {
      color: white;
      background: var(--color1);
    }
  }
  .selected.excluded {
    button {
      color: var(--color1);
      background: var(--color2);
    }
  }
}

*[data-todotxt-attribute='priority'] {
  --color1: white;
  button {
    &.Mui-disabled {
      color: white;
    }
  }
  &.selected {
    button {
      color: white;
      background: Variables.$dark-grey;
    }
  }
  .overlay {
    svg {
      color: var(--color2);
    }
  }
}

*[data-todotxt-attribute='priority'][data-todotxt-value='A'] {
  --color2: #ff0000;
  border-left-color: var(--color2);
  &.selected {
    button {
      background: color.adjust(#ff3860, $lightness: -25%);
    }
  }
}

*[data-todotxt-attribute='priority'][data-todotxt-value='B'] {
  --color2: #fd7d67;
  border-left-color: var(--color2);
  &.selected {
    button {
      background: color.adjust(#fa745e, $lightness: -25%);
    }
  }
}

*[data-todotxt-attribute='priority'][data-todotxt-value='C'] {
  --color2: #ffdd57;
  border-left-color: var(--color2);
  &.selected {
    button {
      background: color.adjust(#ffdd57, $lightness: -25%);
    }
  }
}

// Priority D - Admin/Batch tasks (1-2-3-5 rule)
// Uses cool gray/blue-gray to indicate low-priority, low-effort tasks
*[data-todotxt-attribute='priority'][data-todotxt-value='D'] {
  --color2: #78909c;  // Blue-gray color
  border-left-color: var(--color2);
  &.selected {
    button {
      background: color.adjust(#78909c, $lightness: -20%);
    }
  }
  // Subtle visual differentiation
  button {
    opacity: 0.85;
  }
}

// Priority E-Z - Even lower priority, very muted
*[data-todotxt-attribute='priority'][data-todotxt-value='E'],
*[data-todotxt-attribute='priority'][data-todotxt-value='F'],
*[data-todotxt-attribute='priority'][data-todotxt-value='G'],
*[data-todotxt-attribute='priority'][data-todotxt-value='H'],
*[data-todotxt-attribute='priority'][data-todotxt-value='I'],
*[data-todotxt-attribute='priority'][data-todotxt-value='J'],
*[data-todotxt-attribute='priority'][data-todotxt-value='K'],
*[data-todotxt-attribute='priority'][data-todotxt-value='L'],
*[data-todotxt-attribute='priority'][data-todotxt-value='M'],
*[data-todotxt-attribute='priority'][data-todotxt-value='N'],
*[data-todotxt-attribute='priority'][data-todotxt-value='O'],
*[data-todotxt-attribute='priority'][data-todotxt-value='P'],
*[data-todotxt-attribute='priority'][data-todotxt-value='Q'],
*[data-todotxt-attribute='priority'][data-todotxt-value='R'],
*[data-todotxt-attribute='priority'][data-todotxt-value='S'],
*[data-todotxt-attribute='priority'][data-todotxt-value='T'],
*[data-todotxt-attribute='priority'][data-todotxt-value='U'],
*[data-todotxt-attribute='priority'][data-todotxt-value='V'],
*[data-todotxt-attribute='priority'][data-todotxt-value='W'],
*[data-todotxt-attribute='priority'][data-todotxt-value='X'],
*[data-todotxt-attribute='priority'][data-todotxt-value='Y'],
*[data-todotxt-attribute='priority'][data-todotxt-value='Z'] {
  --color2: #b0bec5;  // Even lighter gray
  border-left-color: var(--color2);
  button {
    opacity: 0.7;
  }
}

*[data-todotxt-attribute^='pm'] {
  --color1: rgb(221, 44, 0);
  --color2: white;
  button {
    &.Mui-disabled {
      color: white;
    }
  }
  .overlay {
    svg {
      color: var(--color1);
    }
  }
  .selected {
    button {
      color: white;
      background: rgb(221, 44, 0);
    }
  }
}

*[data-todotxt-attribute='projects'] {
  --color1: #6f266f;
  --color2: #f1d6f1;
}

*[data-todotxt-attribute='contexts'] {
  --color1: #1e6251;
  --color2: #c5ede3;
}

.dark {
  button:not(.MuiIconButton-root),
  button:hover:not(.MuiIconButton-root) {
    outline-color: Variables.$light-grey;
  }
  *[data-todotxt-attribute]:not(
      [data-todotxt-attribute='priority'],
      [data-todotxt-attribute='projects'],
      [data-todotxt-attribute='contexts'],
      [data-todotxt-attribute^='pm']
    ) {
    --color1: #f0f0f0;
    --color2: #5a5a5a;
    button {
      .MuiChip-root {
        background: color.adjust(#5a5a5a, $lightness: -10%);
      }
    }
    &.selected {
      button, div {
        background: color.adjust(#5a5a5a, $lightness: -15%);
      }
    }
  }

  *[data-todotxt-attribute='contexts'] {
    --color1: #c5ede3;
    --color2: #1e6251;
    &.selected {
      button {
        background: color.adjust(#1e6251, $lightness: -10%);
      }
    }
  }
  *[data-todotxt-attribute='projects'] {
    --color1: #f1d6f1;
    --color2: #6f266f;
    &.selected {
      button {
        background: color.adjust(#6f266f, $lightness: -10%);
      }
    }
  }
}
