@import "Variables.scss";

[data-todotxt-attribute="t"],
[data-todotxt-attribute="due"] {
	button {
		.MuiChip-root {
			width: auto;
			height: auto;
			border-radius: $radius!important;
			background: $dark-grey;
			color: white;
			opacity: 0.75;
			margin-right: 0.4em;
			.MuiChip-label {
				font-size: 0.8em;
				padding: 0 0.6em;
			}
		}
	}
}