@import "Variables.scss";

#Sorting {
  .draggingListItem {
    background: $lighter-grey;
  }

  button {
    min-width: auto;
    padding: 0.5em;
    svg {
      font-size: 1.25em;
    }
  }
  .invert {
    transform: scaleY(-1);
  }
}

.darkTheme {
  #Sorting {
    .draggingListItem {
      background: $dark-grey;
    }
  }
}