@import "Variables.scss";

.Attributes {
	padding: 0 1em;
	margin: 0;
	overflow-y: scroll;
	h3 {
		font-family: 'FreeSansBold';
		padding: 0;
		margin: 0;
	}
	.MuiAccordion-root {
		padding: 0;
		.Mui-expanded {
			margin: 1em 0;
		}
		.MuiAccordionDetails-root {
			padding: 0.5em 0;
		}
		.MuiAccordionSummary-root {
			height: 3em;
			min-height: 3em;
			padding: 0;
			margin: 0;
			&.Mui-expanded {
				min-height: auto;
			}
		}
		.MuiBox-root {
			display: flex;
			flex-wrap: wrap;
			gap: 5px;
		}
		&:before {
			display: none;
		}
		&.Mui-expanded {
			margin: 0;
		}
	}
	.filter {
		position: relative;
		.overlay {
			width: 100%;
			height: 100%;
			display: none;
			line-height: 2.6em;
			border-radius: $radius;
			position: absolute;
			z-index: 5;
			top: 0;
			left: 0;
			text-align: center;
			background-color: rgba(255, 255, 255, 0.5);
			cursor: pointer;
		}
		.MuiBadge-badge {
			z-index: 10;
		}
		button:disabled {
			cursor: not-allowed;
			filter: opacity(50%) grayscale(100%);
		}
	}
	.filter:hover,
	.filter.excluded {
		.overlay {
			display: block;
			color: $darker-grey;
		}
	}
	.filter[data-todotxt-attribute="priority"] {
		button {
			min-width: 1.75em;
			font-size: 1.25em;
			font-family: 'FreeSansBold';
			padding: 0.1em 0.65em;
		}
	}
}