.Drawer {
	width: 30em;
	height: 100vh;
	padding: 0;
	margin-left: -30em;
	background: #ebebeb;
	.MuiPaper-root {
		position: relative;
		z-index: 5;
	}
	.Accordion {
		margin: 1em;
		.MuiChip-root {
			margin: 0 0.35em 0.35em 0;
		}
		.MuiCollapse-wrapperInner {
			overflow-y: auto;
			overflow-x: hidden;
			max-height: 30vh;
		}
	}
}

.Drawer.open {
	margin-left: 0;
}