@import "Variables.scss";

#fileTabs {
  	flex-shrink: 0;
	min-height: auto;
	background: #ebebeb;
	
	.MuiTabs-scroller {
		button[role=tab] {
			max-width: 15em;
			min-width: 8.5em;
			height: auto;
			min-height: auto;
			padding: 0.75em 2em;
			color: #5a5a5a;
			text-transform: lowercase;
			display: flex;
			flex-direction: row;
			
			svg {
				filter: opacity(50%) grayscale(100%);
				margin: 0 0 0 0.5em;
				padding: 0.2em;
				order: 2;
			}
			svg:hover {
				filter: none;
			}
		}
		button[aria-selected=true] {
			background: white;
			
			color: $links;
		}
		button[role=tab]:focus-visible {
			background: $mid-grey;
			color: $dark-grey;
		}
		.MuiTabs-indicator {
			background: transparent;
		}
	}

}