@use './Variables.scss';

label {
  width: 100%;
  a {
    svg {
      font-size: 1em!important;
    }
  }
}

.MuiAutocomplete-root,
.MuiPaper-root,
.MuiDialogContent-root {
  .MuiIconButton-root {
    padding: 0.1em;
  }
  button.addAsTodo {
    margin-right: 0.5em;
  }
  .MuiButtonBase-root {
    border: none;
    svg.invert {
      transform: rotate(180deg);
    }
    &.Mui-focusVisible {
      svg {
        color: Variables.$blue;
      }
    }
    
    &:hover {
      border: none;
    }
  }
  .MuiFormControl-root {
    label[data-shrink=false] {
      transform: translate(1em, 1em) scale(1);
    }
    label[data-shrink=true] {
      transform: translate(0.5em, -0.5em) scale(0.75);
    }
    .MuiInputBase-root {
      padding: 1em 1.75em 1em 1em;
      .MuiInputAdornment-root {
        max-height: 1.5em;
        margin: 0;
      }
      .MuiInputBase-input {
        margin: 0;
        padding: 0;
      }
      .MuiSelect-select  {
        margin: 0;
        padding: 0;
      }
      &.MuiInputBase-multiline {
        textarea {
          font-size: 1.25em;
        }
       padding: 1em;
      }
    }
  }
}

.MuiAutocomplete-hasPopupIcon.css-10wd9eg-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-10wd9eg-MuiAutocomplete-root .MuiOutlinedInput-root,
.MuiAutocomplete-hasPopupIcon.css-10wd9eg-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-10wd9eg-MuiAutocomplete-root .MuiOutlinedInput-root {
	padding-right: 0.5em!important;
}