@use "./Variables.scss";

label {
  width: 100%;
  a {
    svg {
      font-size: 1em !important;
    }
  }
}
.MuiAutocomplete-root,
.MuiPaper-root,
.MuiDialogContent-root {
  flex-direction: row;
  flex: 1;
  button.addAsTodo {
    margin-right: 0.5em;
  }
  .MuiFormControlLabel-root {
    margin-left: -0.78571429em;
    margin-left: 1, 14285714em;
    .MuiSwitch-root {
      width: 4em;
      height: 2.4em;
      padding: 0.75em;
      .MuiSwitch-switchBase {
        padding: 0.5em;
        &.Mui-checked {
          transform: translateX(1.4em);
          color: Variables.$blue;
        }
      }
      .MuiSwitch-track {
        &.Mui-checked {
          background-color: Variables.$blue;
        }
      }
      .MuiSwitch-thumb {
        width: 1.4em;
        height: 1.4em;
      }
    }
  }
  .MuiFormControl-root {
    label[data-shrink="false"] {
      transform: translate(1em, 1em) scale(1);
    }
    label[data-shrink="true"] {
      transform: translate(0.5em, -0.5em) scale(0.75);
    }

    .MuiSlider-root {
      height: 0.28571429em;
      .MuiSlider-thumb {
        width: 1.42857143em;
        height: 1.42857143em;
        background-color: Variables.$blue;
      }
      .MuiSlider-track {
        border-color: Variables.$blue;
        background-color: Variables.$blue;
      }
    }
    .MuiInputBase-root {
      padding: 0;
      .MuiInputAdornment-root {
        max-height: 1.5em;
        margin: 0.25em;
      }
      .MuiInputBase-input {
        margin: 0;
        padding: 1em;
      }
      .MuiSelect-select {
        margin: 0;
        padding: 1em;
      }
      &.MuiInputBase-multiline {
        textarea {
          font-size: 1.25em;
        }
      }
    }
  }
}

.compact {
  .MuiAutocomplete-root,
  .MuiPaper-root,
  .MuiDialogContent-root {
    .MuiFormControl-root {
      .MuiInputBase-root {
        .MuiInputBase-input {
          padding: 0.75em;
        }
        .MuiSelect-select {
          padding: 0.75em;
        }
      }
    }
  }
}

.MuiAutocomplete-hasPopupIcon.css-10wd9eg-MuiAutocomplete-root
  .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon.css-10wd9eg-MuiAutocomplete-root
  .MuiOutlinedInput-root,
.MuiAutocomplete-hasPopupIcon.css-10wd9eg-MuiAutocomplete-root
  .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon.css-10wd9eg-MuiAutocomplete-root
  .MuiOutlinedInput-root {
  padding-right: 0.5em !important;
}
