@import "Variables.scss";

#navigation {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  background: $lighter-grey;
  display: flex;
  flex-direction: column;

  div {
    font-family: $font-family-bold;
    line-height: 5em;
    text-align: center;
    color: white;
    background: linear-gradient(0.33turn, #1b5551, #813e93);
  }

  button {
    border-radius: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
    width: 5em;
    height: 5em;
    background: none;

    &.break {
      margin-top: auto;
    }

    svg {
      color: $darker-grey;
    }

    &:hover, &:active, &:focus-visible, &.active {
      background: $light-grey;
    }
  }
}
