@import "Variables.scss";

#search {
  flex-shrink: 0;
	width: 100%;
	display: flex;
	padding: 1em;

	// backdrop-filter: blur(10px);
	// background-color: rgba(255, 255, 255, 0.5);

	background: transparent;

	.MuiFormControl-root {
		width: 100%;
	}
	.MuiButtonBase-root {
		font-size: 0.65em;
		color: $links;
		background: white;
		&.Mui-focusVisible {
			background: $links;
			color: white;
		}
	}
	.MuiInputBase-root {
		font-size: 1.25em;
	}
	button.xClick {
		padding: $radius;
		cursor: pointer;
		border: none;
		outline: none;
		svg {
			font-size: 2em;
			color: $links;
		}
	}
	button.xClick:focus-visible {
		svg {
			color: $dark-grey;
		}
	}
	button.xClick:focus {
		color: $links;
		outline: none;
	}
	*[aria-hidden=false] {
		display: none;
	}
	*[aria-hidden=true] {
		display: flex;
	}
}

.search > * {
  width: 100%;
}