@import "Variables.scss";

.search {
  height: 100px;
  flex-shrink: 0;

	width: 100%;
	display: flex;
	

	padding: 1em;
	svg {
		font-size: 1.25em;
	}
	.MuiInputBase-root {
		font-size: 1.25em;
		border-radius: $radius;
	}
	.Mui-focused {
		svg {
			color: $links;
		}
	}
}

.search > * {
  width: 100%;
}