@import "Variables.scss";

#Search {
	height: 2.5em;
	min-height: 2.5em;
	display: flex;
	padding-right: 2.5em;
	.MuiTextField-root {
		height: 100%;
		flex-direction: row;
		flex: 1;
		.MuiInputBase-root {
			flex: 1;
			background: transparent;
			.MuiInputBase-input {
				padding: 0;
				margin: 0 1em;
			}
			.MuiButtonBase-root {
				font-size: 0.9em;
				padding: 0.2em 0.5em;
				background: $dark-grey;
			}
			.MuiButtonBase-root.Mui-focusVisible {
				background: $links;
			}
			button.xClick {
				padding: $radius;
				cursor: pointer;
				border: none;
				outline: none;
				background: transparent;
				svg {
					color: $dark-grey;
				}
			}
			button.xClick:focus-visible {
				svg {
					color: $links;
				}
			}
			button.xClick:focus {
				color: $links;
				outline: none;
			}					
		}
	}
}