@use 'Variables.scss';

#splashScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  h1 {
    font-weight: bold;
    line-height: 1.2em;
  }
  svg {
    font-size: 3em;
    color: Variables.$dark-grey;
  }
  p {
    a {
      svg {
        font-size: 1.2em;
        color: Variables.$blue;
      }
    }
  }
  .buttons {
    display: flex;
    gap: 0.5em;
    justify-content: center;
  }
  .container {
    padding: 1em 2em;
    border-radius: Variables.$radius;
    border: 0.15em dashed Variables.$mid-grey;
  }
}

.dark {
  #splashScreen {
    svg {
      color: Variables.$mid-grey;
    }
    p {
      a {
        svg {
          color: Variables.$blue;
        }
      }
    }
  }
}
