@import 'variables.scss';

.TodoDialog {
	.MuiDialogContent-root {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		.react-autosuggest__container {
			width: 100%;
			flex-grow: 1;
			.react-autosuggest__input {
				width: 100%;
			}
		}
		.priorityPicker {
			width: 6em;
			flex-grow: 0;
		}
	}
}