@import "Variables.scss";

#ToolBar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9;
	svg {
		cursor: pointer;
		padding: 0.5em 1em;
		font-size: 1.25em;
		color: $dark-grey;
		>:hover,
		&.active {
			color: $links;
		}
	}
}

.darkTheme {
	#ToolBar {
		svg {
			color: $mid-grey;
			>:hover,
			&.active {
				color: $links;
			}			
		}
	}
}