$font-family-regular: "FreeSans", sans-serif;
$font-family-bold: "FreeSansBold", sans-serif;
$radius: 0.65em;
$blue: #1976d2;
$darker-grey: #2d2d2d;
$dark-grey: #5a5a5a;
$mid-grey: #ccc;
$light-grey: #ebebeb;
$lighter-grey: #f0f0f0;
