name: Release
on:
  push:
    tags:
      - '*'
jobs:
  linux:
    strategy:
      matrix:
        os:
          [
            { name: 'linux', image: 'ubuntu-latest' }
          ]
    runs-on: ${{ matrix.os.image }}
    steps:
      - name: Github checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: 'yarn'
      - run: yarn install
      - name: Publish
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          npx run peggy
          npx electron-forge publish --arch=arm64,x64
  windows:
    strategy:
      matrix:
        os:
          [
            { name: 'windows', image: 'windows-latest' }
          ]
    runs-on: ${{ matrix.os.image }}
    steps:
      - name: Github checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: 'yarn'
      - run: yarn install
      - name: Publish
        env:
          GITHUB_TOKEN: ${{ github.token }}
          DEBUG: 'electron-windows-store,electron-windows-installer:main,electron-forge:*,@electron/packager'
        run: |
          npx run peggy
          npx electron-forge publish
  macos:
    strategy:
      matrix:
        os:
          [
            { name: 'macos', image: 'macos-latest' }
          ]
    runs-on: ${{ matrix.os.image }}
    steps:
      - name: Github checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: 'yarn'
      - run: yarn install
      - name: Install the Apple certificate and provisioning profile
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.BUILD_PROVISION_PROFILE_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          PP_PATH=$RUNNER_TEMP/build_pp.provisionprofile
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH
          echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode -o $PP_PATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security set-key-partition-list -S apple-tool:,apple: -k "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles
      - name: Publish
        env:
          GITHUB_TOKEN: ${{ github.token }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }}
          TEAM_ID: ${{ secrets.TEAM_ID }}
          IDENTITY_APPLE_DISTRIBUTION: ${{ secrets.IDENTITY_APPLE_DISTRIBUTION }}
          IDENTITY_APPLE_ID_APPLICATION: ${{ secrets.IDENTITY_APPLE_ID_APPLICATION }}
          DEBUG: 'electron-osx-sign*'
        run: |
          npx run peggy
          npx electron-forge publish --arch=arm64,x64
      - name: Clean up keychain and provisioning profile
        if: ${{ always() }}
        run: |
          security delete-keychain $RUNNER_TEMP/app-signing.keychain-db
          rm ~/Library/MobileDevice/Provisioning\ Profiles/build_pp.provisionprofile